@import '../../assets/styles/vars';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.navButton {
    display: inline-block;
    min-width: 10px;
    font-size: 14px;
    border-color: $primary;
    color: $primary;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    border-style: solid;
    cursor: pointer;

    :focus {
        outline: 0;
    }

    :hover {
        background-color: $primary;
        color: $content-background;
    }

    :active {
        background-color: $primary;
        color: $content-background;
    }  
}

#heading {
    font-size: $header-size;
}

