<div class = "container-fluid pt-5">
    <div class= "row">
        <h1 id="heading" class= "col-md-8" translate>observations.all</h1>
        <ul id="navButtons" class= "col-md-4">
            <a class="navButton p-2 mr-2" routerLink="/form/JX.123757" translate>observations.form.sighting</a>
            <a class="navButton p-2" routerLink="/form/MHL.9" translate>observations.form.help</a>
        </ul>
    </div>
    <div class="pb-2">
            <vrs-observation-map [list]="true" [mapHeight]="600"></vrs-observation-map>
    </div>
</div>
 

