@import '../../assets/styles/vars';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~bootstrap/scss/bootstrap-grid';

.navButton {
    display: inline-block;
    padding: 0.8em;
    margin-left: 1em;
    white-space: nowrap;
}

#heading {
    font-size: 1.2em;
    line-height: 2.1;
    @include media-breakpoint-down(xs) {
        display:none;
    }
}

.card {
    box-shadow: 2px 2px 2px 0px #ccc;
}

.observations {
    background: $neutral-3;
}
