@import '../../assets/styles/vars';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~bootstrap/scss/bootstrap-grid';

.navButton {
    display: inline-block;
    padding: 0.8em;
    margin-left: 1em;
    white-space: nowrap;
}

#heading {
    font-size: 1.2em;
    line-height: 2.1;
    @include media-breakpoint-down(xs) {
        display:none;
    }
}

:host ::ng-deep .input-group {
    padding: 0.5em 0em;
}

:host ::ng-deep .autocomplete {
    padding: 0.5em 0em;
    
    .oi-magnifying-glass {
        top: 21px;
    }
}

.card {
    box-shadow: $container-shadow;
}

.observations {
    padding-top: 1em;
}
