<div class = "observations py-4 mb-5">
    <div class="container my-2">
    <div class= "row justify-content-between">
        <h1 id="heading" translate>observations.all</h1>
        <ul id="navButtons">
            <span class="navButton vrs-button" routerLink="/form/JX.123757" translate>observations.form.sighting</span>
            <span class="navButton vrs-button primary" routerLink="/form/MHL.9" translate>observations.form.help</span>
        </ul>
    </div>
    </div>
            <vrs-observation-map [listEnabled]="true" [ownModeSelectorEnabled]=true [ownModeEnabled]=ownMode [municipalitySelectEnabled]=true
            [taxonSearchEnabled]="true" [mapHeight]="mapHeight" [id]="id"></vrs-observation-map>
</div>
 

