@import '../../assets/styles/vars';
@import '~bootstrap/scss/bootstrap-grid';

.feedback-container {
  max-width: 38rem;
  padding: 20px;
  border-radius: 5px;
  background-color: $neutral-1;
  box-shadow: 0 2px 8px rgba(#000, .2);
}
