@import '../../../../../assets/styles/vars';

.time-selector {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

input {
    width: 8em;
    border-radius: 5px;
    padding: 5px;
    box-shadow: inset 0 1px 3px $neutral-6;
    color: $neutral-7;
    border: none;
    &::placeholder {
        color: $neutral-4;
    }
}