<h1>VieKas LIFE hanke</h1>

<h2>Toiminnan hyödyt minulle ja luonnolle...</h2>
<p>Lista perusteluista ja argumenteista, joilla lukija vakuutetaan (hankkeen) kansalaistoimintaan mukaan lähtemisestä:</p>
<ul>
  <li>Luonnossa liikkumisen terveysvaikutukset</li>
  <li>Sosiaalista mukavaa toimintaa joka lisää yhteisöllisyyttä (ja sitä kuuluisaa talkoohenkeä)</li>
  <li>Työn positiivinen vaikutus luonnon monimuotoisuudelle paikallisella ja alueellisella tasolla</li>
</ul>

<a href="" class="btn vrs-button">Liity mukaan!</a>
<h3>Newsletter</h3>
<input type="text">
