<div class="viekas-front">
    <h3>Tervetuloa suojelemaan suomen luonnon monimuotoisuutta</h3>

    <img src="http://placehold.it/900x400" alt="">

    <div class="benefits">
        <div class="benefit">
            <div class="benefit-icon"><span class="oi oi-compass"></span></div>
            <div class="benefit-text">Terveellistä liikuntaa</div>
        </div>
        <div class="benefit">
            <div class="benefit-icon"><span class="oi oi-people"></span></div>
            <div class="benefit-text">Sosiaalista yhteisötoimintaa</div>
        </div>
        <div class="benefit">
            <div class="benefit-icon"><span class="oi oi-sun"></span></div>
            <div class="benefit-text">Ympäristö kiittää</div>
        </div>
    </div>

    <img src="http://placehold.it/200x200" class="float-right floating-img" alt="">
    <p>Vieraslajitoimintaan voi kaikki lähteä mukaan! Toiminta tarjoaa liikunnallista ja sosiaalista aktiviteettiä, jolla on tärkeä vaikutus suomen luontoon. Esimerkkejä toiminnasta... Esimerkkejä yhteisöllisyydestä...</p>
    <p>Vieraslajit ovat lajeja, jotka ovat levinneet luontaiselta levinneisyysalueeltaan uudelle alueelle ihmisen mukana joko tahattomasti tai tarkoituksella. Vieraslajit voivat joissain tapauksissa levitä äärimmäisen nopeasti ympäristössä, jossa ei ole luonnollisia kilpailijoita tai saalistajia. <a href="">Lue lisää vieraslajeista...</a></p>
    <p>Vieraslajit voivat aiheuttaa haittaa ympäristölle ja ekosysteemipalveluille, mutta myös taloudellista haittaa vaikuttamalla esimerkiksi ihmisten, eläinten tai kasvien terveyteen tai kiinteistöjen ar­voon. Haitat voivat myös olla sosiaalisia tai esteettisiä.</p>
    <p>Kansalaistoiminnan tavoitteet</p>
    <p>Vieraslajiportaalin avulla voit tunnistaa vieraslajeja ja ilmoittaa havainnoistasi ympäristöviranomaisille.</p>

    <p>Vieraslajeja torjutaan monilla menetelmillä... <a href="">Lue torjuntaohjeet...</a></p>

    <p>Vieraslajitoiminnan vapaaehtoistyö... mukaanlukien keskustelufoorumin moderointi, annotointien varmistus... <a href="">Lue lisää vapaaehtoistyöstä...</a></p>

    <h4 style="color: red">Tekstit eivät ole lopullisia vaan kehittäjän kirjoittamia luonnoksia!</h4>
</div>