@import '../../../assets/styles/vars';
@import '~bootstrap/scss/bootstrap-grid';

.omni-search {

  font-size: 0.8rem;
  font-weight: 400;

  margin-bottom: 0;
  margin-top: 5;
  padding:10px;
  position: relative;
  max-width: 80%;
}

.oi-magnifying-glass {
  color: #999;
  position: absolute;
  top:0.5em;
  left: 0.5em;
}

input {
  box-shadow: $inset-box-shadow;

  &:focus {
    box-shadow: none;
  }

  width: 12vw;
  
  @include media-breakpoint-down(md) {
      width: 15em;
  }
  &.form-control {
      border: none;
      height: 80%;
      font-size: 0.9em;
      padding: 0.5em 0.8em;
      padding-left: 2.1em;
  }
}

.omni-search-results {
  // omnisearch on left side of page (open right)
  &.right{
    left: 0px;
    right: auto;
  }
  // omnisearch on right side of page (open left)
  &.left{
    left: auto;
    right: 0px;
  }
  position: absolute;
  z-index: 1000;

  background-color: #ffffff;
  padding: 10px;

  border: 1px solid #999;
  color: rgb(43, 42, 42);
  border-radius: 10px;

  box-shadow: 2px 2px 2px 0px #999;

  min-width: 250px;
  .matches {
    @include media-breakpoint-down(sm) {
      padding-bottom: 1em;
    }
  }
 .matches .active {
    color:#fa7d09;
    font-weight: bold;
  }
  .first-col {
    @include media-breakpoint-down(sm) {
      padding-bottom: 1em;
    }
  }
  .scientificName.cursive {
    font-style: italic;
  }
}

.taxon-match {
  padding-left: 65px;
}


.taxon-match, .observations, .taxonomy {
  color: rgb(43, 42, 42);
}


@media only screen and (min-width: 992px) {
  .omni-search-results {
    min-width: 727px;
    .first-col {
      border-left: 1px solid #999;
    }
  }
}

.match {
  cursor: pointer;
  display: block;
}

.match:hover {
  color: $primary;
}

.match.active {
  cursor: default;
}