@import '../../../assets/styles/vars';
@import '~bootstrap/scss/bootstrap-grid';

.omni-search {

  font-size: 0.8rem;
  font-weight: 400;

  margin-bottom: 0;
  margin-top: 5;
  padding:10px;
  position: relative;
  max-width: 80%;
}

.oi-magnifying-glass {
  color: #999;
  position: absolute;
  top:0.55em;
  left: 0.5em;
  z-index:2001;
}

input {
  background: $neutral-1;
  color: $neutral-7;
  position: relative;
  z-index: 2000;
  box-shadow: inset 1px 2px 6px hsla(0, 0, 0, 0.2);

  &:focus {
    box-shadow: inset 1px 2px 3px hsla(0, 0, 0, 0.1);
    background: $neutral-1;
  }

  width: 15em;

  @include media-breakpoint-down(md) {
      width: 15em;
  }
  &.form-control {
      border: none;
      height: 80%;
      font-size: 1em;
      padding: 0.5em 0.8em;
      padding-left: 2.1em;
  }
}

.omni-search-results {
  // omnisearch on left side of page (open right)
  &.right{
    left: -20px;
    right: auto;
  }
  // omnisearch on right side of page (open left)
  &.left{
    left: auto;
    right: -20px;
  }
  position: absolute;
  top: -50px;
  z-index: 1000;

  background-color: $neutral-2;
  padding: 2em;
  padding-top: 4em;

  color: rgb(43, 42, 42);
  border-radius: 10px;

  box-shadow: 2px 2px 50px 0px rgba(#000, 0.3);

  min-width: 250px;
  @include media-breakpoint-down(xs) {
    width: 95vw;
  }
  .matches {
    min-height: 14em;
    @include media-breakpoint-down(sm) {
      padding-bottom: 1em;
    }
  }
 .matches .active {
    color:#fa7d09;
    font-weight: bold;
  }
  .first-col {
    @include media-breakpoint-down(sm) {
      padding-bottom: 1em;
    }
  }
  .scientificName.cursive {
    font-style: italic;
  }
}

.taxon-match {
  padding-left: 65px;
}


.taxon-match, .observations, .taxonomy {
  color: rgb(43, 42, 42);
}


@media only screen and (min-width: 992px) {
  .omni-search-results {
    min-width: 727px;
    .first-col {
      border-left: 1px solid #999;
    }
  }
}

.match {
  cursor: pointer;
  display: block;
}

.match:hover {
  color: $accent-5;
}

.match.active {
  cursor: default;
}

.mode-selector {
  padding-bottom: 1em;
  a {
    color: $accent-5;
    cursor: pointer;
    margin-right: 0.5em;
  }
  a.mode-active {
    cursor: default;
    color: $neutral-6;
  }
}

.content-results {
  display: flex;
  flex-direction: column;
}

.content-item {
  padding-top: 1em;
  color: $neutral-7;
  .content-link {
    font-size: 1.2rem;
    display: inline-block;
    font-weight: 600;
    color: $neutral-6;
    cursor: pointer;
    &:hover {
      color: $neutral-7;
    }
  }
}

.oi-reload {
  color: $neutral-6;
  margin-left: 0.5em;
  cursor: pointer;
}