<div class="form-group omni-search" #omniElement *ngIf="visible">
  <div>
    <span class="oi oi-magnifying-glass"></span>
    <input autocomplete="off" #omniInput type="text" class="form-control input-sm omni" id="search-box"
      [formControl]="searchControl" placeholder="{{'omnisearch.search' | translate}}"
      (keyup)="onInputKeyUp($event)" />
  </div>

  <div style="clear: both"></div>
  <div class="col-12" *ngIf="open">
    <div class="omni-search-results" #omniSearchResults [ngClass]='resultsDirection'>
      <div class="row mode-selector">
        <div class="col-12">
          <a (click)="contentMode = 'taxon'" (keyup.enter)="contentMode = 'taxon'" [ngClass]="{'mode-active': contentMode === 'taxon'}" [tabindex]="contentMode === 'taxon' ? -1 : 0" translate>omnisearch.contentMode.taxon</a>
          <a (click)="contentMode = 'content'; contentSearch()" (keyup.enter)="contentMode = 'content'; contentSearch()" [ngClass]="{'mode-active': contentMode === 'content'}" [tabindex]="contentMode === 'content' ? -1 : 0" translate>omnisearch.contentMode.content</a>
          <span *ngIf="contentMode === 'content'" class="oi oi-reload" (click)="contentSearch()" tabindex="0"></span>
        </div>
      </div>
      <div class="content-results" *ngIf="contentMode === 'content'">
        <laji-spinner [spinning]="googleApiLoading" [hideContentWhileLoading]='true' [fullViewport]='false'>
        <ng-container *ngIf="!content.items">
          {{'omnisearch.results.none' | translate}}
        </ng-container>
        <div class="content-item" *ngFor="let item of content.items">
          <a class="content-link" [routerLink]="formatContentUrl(item?.formattedUrl)">{{item?.title}}</a>
          <p [innerHTML]="item?.snippet"></p>
        </div>
        </laji-spinner>
      </div>
      <div class="row" *ngIf="contentMode === 'taxon'">
        <div class="col-12 col-md-3 matches">
          <span class="match" *ngFor="let taxon of taxa | slice:0:8; let i=index" [ngClass]="{active: i === active, link: i !== active}" (click)="activate(i)" (keyup.enter)="activate(i)" [tabindex]="i !== active ? 0 : -1">
            {{taxon.value}}
          </span>
        </div>
        <hr class="hidden-md hidden-lg">
        <div class="col-12 col-md-5 first-col">
          <div translate>omnisearch.information</div>
          <div class="row">
            <div class="col-2" *ngIf="groupId">
              <img [src]="'assets/images/taxon-groups/'+groupId+'.svg'">
            </div>
            <div class="col-10 taxon-match" *ngIf="!comparisonView;else comparisonTemplate">
              <a [routerLink]="['/lajit/' + taxon?.key]" (click)="close()">
                <span class="vernacularName">{{taxon?.payload?.vernacularName}}</span>
              </a>
              <br>
              <a [routerLink]="['/lajit/' + taxon?.key]" (click)="close()">
                <span class="scientificName" [ngClass]="{cursive: taxon?.payload?.cursiveName}">{{taxon?.payload?.scientificName}}</span>
              </a>
              <br>
              <ul>
                <li *ngFor="let group of taxon?.informalTaxonGroups">{{group}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3 second-col">
          <div translate>omnisearch.observations</div>
          <div class="row">
            <div class="col-md-offset-1 col-md-11 observations" *ngIf="taxon">
              <a [routerLink]="['/havainnot']" [queryParams]="{taxonId: taxon.key}" (click)="close()">
                {{taxon.count}}
              </a>
              <br>
              <a [routerLink]="['/ilmoita']" (click)="close()">
                {{'navigation.observations.report' | translate}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #comparisonTemplate>
  <div class="col-md-12 taxon-match">
    <a [routerLink]="['/lajit/' + taxon.key]" [queryParams]="{comparison: true}">
      <span class="vernacularName">{{taxon.payload.vernacularName}}</span>
    </a>
    <br>
    <a [routerLink]="['/lajit/' + taxon.key]" [queryParams]="{comparison: true}">
      <span class="scientificName" [ngClass]="{cursive: taxon.payload.cursiveName}">{{taxon.payload.scientificName}}</span>
    </a>
    <br>
    <ul>
      <li *ngFor="let group of taxon.informalTaxonGroups">{{group}}</li>
    </ul>
  </div>
</ng-template>