<div class="form-group omni-search" #omniElement *ngIf="visible" (keyup)="keyEvent($event)">
  <div>
    <span class="oi oi-magnifying-glass"></span>
    <input type="text" class="form-control input-sm omni" id="search-box"
      [formControl]="searchControl" placeholder="{{'omnisearch.search' | translate}}"
      autoComplete="off" />
  </div>

  <div style="clear: both"></div>
  <div class="col-12" *ngIf="taxa.length > 0 && search.length > 2">
    <div class="omni-search-results" [ngClass]='resultsDirection'>
      <div class="row">
        <div class="col-12 col-md-3 matches">
          <span class="match" *ngFor="let taxon of taxa; let i=index" [ngClass]="{active: i === active, link: i !== active}" (click)="activate(i)">
            {{taxon.value}}
          </span>
        </div>
        <hr class="hidden-md hidden-lg">
        <div class="col-12 col-md-5 first-col">
          <div translate>omnisearch.information</div>
          <div class="row">
            <div class="col-2">
              <img [src]="'assets/images/taxon-groups/'+groupId+'.svg'">
            </div>
            <div class="col-10 taxon-match" *ngIf="!comparisonView;else comparisonTemplate">
              <a [routerLink]="['/taxon/' + taxon.key]">
                <span class="vernacularName">{{taxon.payload.vernacularName}}</span>
              </a>
              <br>
              <a [routerLink]="['/taxon/' + taxon.key]">
                <span class="scientificName" [ngClass]="{cursive: taxon.payload.cursiveName}">{{taxon.payload.scientificName}}</span>
              </a>
              <br>
              <ul>
                <li *ngFor="let group of taxon.informalTaxonGroups">{{group}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3 second-col">
          <div translate>omnisearch.observations</div>
          <div class="row">
            <div class="col-md-offset-1 col-md-11 observations" *ngIf="taxon">
              <a [routerLink]="['/observations']" [queryParams]="{id: taxon.key}" (click)="close()">
                {{taxon.count}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #comparisonTemplate>
  <div class="col-md-12 taxon-match">
    <a [routerLink]="['/taxon/' + taxon.key]" [queryParams]="{comparison: true}">
      <span class="vernacularName">{{taxon.payload.vernacularName}}</span>
    </a>
    <br>
    <a [routerLink]="['/taxon/' + taxon.key]" [queryParams]="{comparison: true}">
      <span class="scientificName" [ngClass]="{cursive: taxon.payload.cursiveName}">{{taxon.payload.scientificName}}</span>
    </a>
    <br>
    <ul>
      <li *ngFor="let group of taxon.informalTaxonGroups">{{group}}</li>
    </ul>
  </div>
</ng-template>