@import '../../../assets/styles/vars';

.omni-search {
  margin-bottom: 0;
  margin-top: 5;
  padding:10px;
  position: relative;
  max-width: 80%;
}

.omni-search-results {
  // omnisearch on left side of page (open right)
  &.right{
    left: 0px;
    right: auto;
  }
  // omnisearch on right side of page (open left)
  &.left{
    left: auto;
    right: 0px;
  }
  position: absolute;
  z-index: 1000;

  background-color: #ffffff;
  padding: 10px;

  border-right: 1px solid #999;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  color: rgb(43, 42, 42);
  border-radius: 10px;
  min-width: 250px;
 .matches .active {
    color:#fa7d09;
    font-weight: bold;
  }
  .scientificName.cursive {
    font-style: italic;
  }
}

.taxon-match {
  padding-left: 65px;
}


.taxon-match, .observations, .taxonomy {
  color: rgb(43, 42, 42);
}


@media only screen and (min-width: 992px) {
  .omni-search-results {
    min-width: 727px;
    .first-col {
      border-left: 1px solid #999;
    }
  }
}

.match {
  cursor: pointer;
  display: block;
}

.match:hover {
  color: $primary;
}

.match.active {
  cursor: default;
}