@import '../../../assets/styles/vars';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@media screen and (max-width: 800px) {
    .mobile-hidden {
        display: none !important;
    }
}

@media screen and (min-width: 800px) {
    .mobile-hidden {
        display: block !important;
    }
}

.main-container {
    margin-top: $navbar-height + 12px;
    margin-bottom: 2em;
}

#accordion {
    box-shadow: 0px 0px 50px 10px #ddd;
    border-radius: $content-border-radius;
}

:host ::ng-deep vrs-taxon-browser .tab-container {
    box-shadow: 0px 0px 50px 10px #ddd;
    display: block;
    border-radius: $content-border-radius;
}

/** SelectGroup icons styling **/

#selectGroup-card {
    font-family: "Montserrat";
    text-align: center;
    width: 100%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    cursor: pointer;
    background: $background-light;
    .card-body {
        background: none;
    }
}

#selectGroup-card:hover {
    box-shadow:  0 0 0 3px $primary;
    #selectGroup-card-text {
        color:  $primary;
    }
}

#selectGroup-card-text {
    padding: 5px;
}

#selectGroup-img {
    padding: 0;
    width: 100px;
    height: 125px;
}

@media (max-width: 575.98px) {
    #selectGroup-card {
        min-width: 200px;
        max-width: 330px;
        min-height: 230px;
    }

    #selectGroup-card-text {
        font-size: 18px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #selectGroup-card-text {
        font-size: 14px;
    }
}

@media (min-width: 767px) and (max-width: 1199px) {
    #selectGroup-card-text {
        font-size: 13px;
    }
}

@media (min-width: 1199.98px) {
    #selectGroup-card-text {
        font-size: 12px;
    }
}

#omnisearch {
    width: 125%;
}
