<laji-spinner [spinning]="loading" [hideContentWhileLoading]='true'>

<div class="container main-container">
  <br>
  <div id="accordion" [ngClass]="{'no-shadow': taxa}" role="tablist" aria-multiselectable="true">
    <accordion>
      <accordion-group #group [(isOpen)]="showGroups">
        <div accordion-heading>
          <h5 class="mb-0" translate>
            taxonomy.taxongroup
            <ng-container *ngIf="selectedGroup">/ {{selectedGroup.name}}</ng-container>
            <ng-container *ngIf="showGroups === false"><span class="oi oi-chevron-bottom float-right"></span></ng-container>
            <ng-container *ngIf="selectedGroup && showGroups === true"><span class="oi oi-chevron-top float-right"></span></ng-container>
          </h5>

        </div>

        <div id="collapseOne" class="collapse show">

            <ng-container>
              <div class="card-deck container">
                <div *ngFor="let group of groups" (click)="this.router.navigate(['/taxon/informal', group.id]);" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                  <div class="card" id="selectGroup-card" (click)="changeOpen()">
                    <div class="card-body" id="selectGroup-card-body">
                       <img class="card-header bg-transparent card-img-top img-responsive" id="selectGroup-img" src="assets/images/taxon-groups/{{group.id}}.svg" alt="loading..">
                       <p class="card-text" id="selectGroup-card-text">{{group.name}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

        </div>
      </accordion-group>
    </accordion>
  </div>
  <br>
  <ng-container *ngIf="selectedGroup && taxa && !loading">
    <vrs-taxon-browser [informalTaxonGroup]='selectedGroup'></vrs-taxon-browser>
  </ng-container>
  <br>
</div>
</laji-spinner>