@import '../../../assets/styles/vars';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@media screen and (max-width: 800px) {
    .mobile-hidden {
        display: none !important;
    }
}

@media screen and (min-width: 800px) {
    .mobile-hidden {
        display: block !important;
    }
}

/** Accordion-heading styling **/

#accordion h5 {
    cursor: pointer;
}

#accordion h5:hover {
    color: $primary;
}
 
/** SelectGroup icons styling **/

#selectGroup-card {
    font-family: sans-serif;
    width: 100%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    cursor: pointer;
}

#selectGroup-card:hover {
    box-shadow:  0 0 0 3px $primary;
    #selectGroup-card-text {
        color:  $primary;
    }
}

#selectGroup-card-text {
    width: 100%;
    color:  $navbar-background;
}

#selectGroup-img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

/** Species filter **/

.form-inline {
    margin-left: 0.5%;
}

/** List and grid tabs **/

.nav-item .active {
    background-color: whitesmoke;
}

/** Species list styling **/

ngx-datatable {
    cursor: pointer;
}

/** Species card styling **/

#species-card {
    background-color: whitesmoke;
    width: 100%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    cursor: pointer;
}

#species-card:hover {
    box-shadow:  0 0 0 3px $primary;
    #species-card-text {
        color: $primary;
    }
}

/** Species img styling, scaling the images about same sized **/

#species-card-text {
    width: 100%;
    color: $navbar-background;
}

#species-img {
    padding: 0.5em;
    width: 100%;
    max-height: 180px;
    object-fit: scale-down;
}

@media screen and (max-width: 600px) {
    #species-img {
        width: 100%;
        height: 60%;
        object-fit:scale-down;   
    }
}

@media (max-width: 575.98px) {
    #selectGroup-card {   
        width: 100%;
        height: 70vw;
    }

    #selectGroup-card-text {
        width: 100%;
        height: 40px;
        font-size: 18px;
    }
    
    #selectGroup-img {
        width: 100%;
        height: 50vw;
        object-fit: cover;
    }
}

@media (min-width: 767.98px) {
    #selectGroup-card-text {
        font-size: 14px;
    }
}

@media (min-width: 991.98px) {
    #selectGroup-card-text {
        font-size: 14px;
    }
    #species-img {
        width: 100%;
        height: 70%;
        
    }
    #species-card-text {
        font-size: 14px;
    }
}

@media (min-width: 1199.98px) {
    #selectGroup-card {   
        width: 100%;
        height: 90%;
    }

    #selectGroup-card-text {
        width: 115%;
        height: 30px;
        font-size: 14px;
    }

    #species-img {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }

    #species-card-text {
        height: 12vw;
        font-size: 15px;
    }
}

.tab-content {
    background: #fff;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

ul.nav.nav-tabs {
    padding-left: 1.5em;
    padding-top: 1em;
    background: whitesmoke;
    border: 1px solid #dee2e6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav-tabs li.nav-item a.nav-link {
    background: whitesmoke;
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs li.nav-item a.nav-link.active {
    background: white;
    border-bottom-color: white;
}

.ngx-datatable.material {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#omnisearch {
    width: 125%;
}