<form>
  <input [(ngModel)]="search" (ngModelChange)="onSearchChange($event)" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
    placeholder="Filter">
</form>
<div>
  <ul>
    <li *ngFor="let group of groups$" (click)="onGroupSelect(group)">{{group.name}}</li>
  </ul>
</div>
<ng-container *ngIf="selectedGroup">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Species</th>
        <th scope="col">Class</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let species of selected">
        <td>
          <a [routerLink]="[species.id]">{{species.vernacularName || species.scientificName}}</a>
        </td>
        <td>{{selectedGroup.name}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>