@import '../../../assets/styles/vars';

.card-body {
    background-color: white;
}

.card {
    width: 90%;
    height: 90%;
}

.card-text {
    height: 20px;
    font-size: auto;
    color:  $navbar-background;
    text-align: center;
}

.card:hover {
    background-color: whitesmoke;
}

.form-inline {
    margin-left: 0.5%;
    background-color: whitesmoke;
}

.nav-item .active {
    background-color: whitesmoke;
}

.table {
    background-color: whitesmoke;
}

#taxongrid {
    background-color: whitesmoke;
}