<div class="container">
    <h1 translate>filist.h1</h1>

    <div id="FI-listtext"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin massa velit, id dapibus est vulputate venenatis. Maecenas sagittis at lorem bibendum posuere. Proin a tristique nisl. Sed viverra ornare arcu quis lobortis. Vestibulum nisl quam, dapibus eu erat malesuada, pulvinar ultrices sapien. Nam et diam a dolor volutpat sagittis. Etiam tincidunt mauris sit amet porttitor tristique. Mauris ac tellus quis mi iaculis sagittis a vitae est. Phasellus lorem orci, suscipit at sapien non, pellentesque condimentum augue. Quisque nec feugiat ex. Suspendisse posuere lorem ut convallis dictum. Maecenas pellentesque hendrerit cursus. Aliquam vel magna erat. Cras at accumsan metus. Morbi et lacus ac nulla sagittis tristique imperdiet at neque. </div>

    <ng-container>
        <div class="tab-pane container" id="filisttable">
            <ngx-datatable class="material selection-cell" [rows]="filist" [columnMode]="'force'" [columns]="columns" [headerHeight]="50"
            [rowHeight]="50" [reorderable]='true' [selectionType]="'single'"  [footerHeight]="50"
            [sorts]="[{prop: 'vernacularName', dir: 'asc'}]" (select)="onSelect($event)">
            </ngx-datatable>
        </div>    
    </ng-container>
</div>