<div class="container">
    <vrs-static [id]= "staticId" >   </vrs-static>
    
    <ng-container>
        <div class="tab-pane container" id="filisttable">
            <ngx-datatable class="material selection-cell" [rows]="filist" [columnMode]="'force'" [columns]="columns" [headerHeight]="50"
            [rowHeight]="50" [reorderable]='true' [selectionType]="'single'"  [footerHeight]="50"
            [sorts]="[{prop: 'vernacularName', dir: 'asc'}]" (select)="onSelect($event)">
            </ngx-datatable>
        </div>    
    </ng-container>
</div>