@import '../../../assets/styles/vars';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';


#EU-listtext{
   margin-bottom: 20px;
}

.tab-pane {
    margin-top: 20px;
}