@import '../../../../assets/styles/vars';

:host {
    position: relative;
}

:host .name {
    color: $primary-6;
    position: relative;
    z-index: 1001;
    cursor: default;
    &:hover {
        color: $primary-6;
    }
}

.menu-bottom {
    position: absolute;
    z-index: 1000;
    padding: 2em;
    padding-right: 3em;
    padding-top: 3.5em;
    top: -1.25em;
    left: -2em;
    border-radius: $content-border-radius;
    white-space: nowrap;
}
.menu-bottom::after {
    box-shadow: 5px 5px 15px 0 rgba(#000, 0.3);
    content: '';
    display: block;
    position: absolute;
    top: 0em;
    left: 0em;
    border-radius: $content-border-radius;
    width: 100%;
    height: 100%;
    background: $neutral-2;
    opacity: 0.95;
}

.menu-bottom a {
    position: relative;
    z-index: 1001;
    display: block;

    color: $neutral-7;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $neutral-8;
    }
}
