@import '../../../../assets/styles/vars';

.login_content a {
    font-size: 0.9em;
    color: $neutral-7;
    padding: 0.5em;
    text-decoration: none;
    
    &:hover {
        background: $accent-2;
        border-radius: 15px;
    }
}
