<div class = "container">
    <div class= "row">
        <h1 id="heading" class= "col-md-8" translate>observations.all</h1>
        <ul id="navButtons" class= "col-md-4" >
            <li class="navButton m-1" routerLink="/form/JX.123757" translate>observations.form.sighting</li>
            <li class="navButton m-1" routerLi9="/form/MHL.9" translate>observations.form.help</li>
        </ul>
    </div>
    <tabset>
      <tab heading="{{'observations.onmap' | translate}}" id="tab1">
          <vrs-observationmap></vrs-observationmap>
      </tab>
      <tab heading="{{'observations.list' | translate}}">
        <laji-spinner [spinning]="loading" >
            <div class="container-fluid">
                <div class="content">
                    <ng-container>
                      <div class="tab-pane container" id="observationlisttable">
                          <ngx-datatable *ngIf="page" class="material selection-cell" [rows]="observations" [columnMode]="'force'" [columns]="columns" [headerHeight]="50"
                          [rowHeight]="50" [sorts]="[{prop: 'vernacularName', dir: 'asc'}]"  [reorderable]='true' [selectionType]="'single'" limit="50" [footerHeight]="50"(page)="onPageChange()">
                          </ngx-datatable>
                      </div>  
                  </ng-container>
                </div>
              </div>
              </laji-spinner>
      </tab>
      <tab heading="{{'observations.own' | translate}}">
          <vrs-observationlist></vrs-observationlist>
      </tab>
    </tabset>
  </div>
 

