<laji-spinner [spinning]="loading" >
<div class="container-fluid">
    <h1 id="heading" translate>observations.all</h1>
    <div class="content">
        <ng-container>
          <div class="tab-pane container" id="observationlisttable">
              <ngx-datatable class="material selection-cell" [rows]="observations" [columnMode]="'force'" [columns]="columns" [headerHeight]="50"
              [rowHeight]="50" [reorderable]='true' [selectionType]="'single'"  [footerHeight]="50" (select)="onSelect($event)">
              </ngx-datatable>
          </div>    
          <pagination [totalItems]="observations.length" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
      </ng-container>
    </div>
  </div>
  </laji-spinner>