@import '../../../assets/styles/vars';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.selection-cell {
    cursor: pointer;
}

#navButtons {
    padding-top: 30px;
}

.navButton {
    display: inline-block;
    min-width: 10px;
    margin-top: 8px;
    padding: 8px 15px;
    font-size: 14px;
    border-color: $primary;
    color: $primary;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    border-style: solid;
    cursor: pointer;

    :focus {
        outline: 0;
    }

    :hover {
        background-color: $primary;
        color: $content-background;
    }

    :active {
        background-color: $primary;
        color: $content-background;
    }  
}
