@import '../../assets/styles/vars';

.container {
    margin-top: $navbar-height + 20px;
    margin-bottom: 1em;
    padding: 2em;
    background: $background-light;
    box-shadow: $container-shadow;
    border-radius: $content-border-radius;
}