@import '../../assets/styles/vars';
@import '~bootstrap/scss/bootstrap-grid';
@import '../../assets/styles/wordpress';

:host ::ng-deep .static-content {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 2em;
        margin-bottom: 0.5em;
    }
    table {
        font-size: 0.7rem;
        width: 1100px;
        margin-left: -150px;
    }
    td {
        padding: 0.5em;
    }
}

.childContent {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}

h1 {
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    color: lighten($neutral-8, 10);
    padding: 2em;
}

.static-content {
    width: 40em;
}

.static-spinner {
    display: block;
    margin-top: 5em;
    margin-bottom: 10em;
    padding: 5em;
}

nav .breadcrumb {
    background: $neutral-2;
}

.breadcrumb .active {
    color: $neutral-5;
}

.link {
    cursor: pointer;
}

.child-pages {
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 0.8em;
    a {
        color: $neutral-6;
        &:hover {
            color: $neutral-9;
        }
    }
    li {
        display: inline;
        margin-right: 1em;
    }
}

:host ::ng-deep img {
    border-radius: 10px;
}

.static-navigation {
    border-bottom: 1px solid $neutral-4;
    margin-bottom: 20px;
}