@import '../../assets/styles/vars';
@import '~bootstrap/scss/bootstrap-grid';
@import '../../assets/styles/wordpress';

.childContent {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}

h1 {
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    color: lighten($neutral-8, 10);
    padding: 2em;
}

.static-content {
    max-width:39em;
    min-width:39em;
}

.static-spinner {
    display: block;
    margin-top: 5em;
    margin-bottom: 10em;
    padding: 5em;
}

nav .breadcrumb {
    background: $neutral-3;
}

.breadcrumb .active {
    color: $neutral-5;
}

.link {
    cursor: pointer;
}

.child-pages {
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    padding-bottom: 1em;
    font-size: 0.8em;
    a {
        color: $neutral-6;
    }
    li {
        display: inline;
        margin-right: 1em;
    }
}

:host ::ng-deep img {
    border-radius: 10px;
}