<laji-spinner [ngClass]="{'static-spinner': loading}" [spinning]="loading" [hideContentWhileLoading]='true' [fullViewport]='false' >
<ng-container *ngIf="child_pages">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Tietoa</li>
            <li class="breadcrumb-item active">{{scontent['directParent'].title}}</li>
            <li class="breadcrumb-item active" aria-current="page">{{scontent['title']}}</li>
        </ol>
    </nav>
    <tabset>
        <tab *ngFor="let child of child_pages" heading="{{child.title}}">
            <ng-container *ngIf="child.data">
                <vrs-editcms id="{{child.id}}"></vrs-editcms>
                <div [innerHTML]="child.data.content" class= "childContent"></div>
            </ng-container>
        </tab>
    </tabset>
</ng-container>

<ng-container *ngIf="scontent && !child_pages">
    <vrs-editcms [id]="id.substring(2, id.length)"></vrs-editcms>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Tietoa</li>
            <li class="breadcrumb-item active">{{scontent['directParent'].title}}</li>
            <li class="breadcrumb-item active" aria-current="page">{{scontent['title']}}</li>
        </ol>
    </nav>
    <div class="static-content" [innerHTML]="scontent['content']"></div>
</ng-container>
</laji-spinner>