@import '../../assets/styles/vars';

.childContent {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}

h1 {
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    color: lighten($text-dark, 10);
    padding: 2em;
}

.static-content {
    margin: 0em 2em;
    padding: 1em 3em;
}

.static-spinner {
    display: block;
    margin-top: 5em;
    margin-bottom: 10em;
    padding: 5em;
}

/* Wordpress styles */

:host ::ng-deep .alignright {
    float:right;
    margin: 5px 0px 5px 20px;
}