@import '../../assets/styles/vars';

.container {
    margin-top: $navbar-height + 20px;
    margin-bottom: 5em;
    padding: 2em;
    padding-bottom: 4em;
    background: $background-light;
    border-radius: $content-border-radius;
}