@import '~bootstrap/scss/bootstrap-grid';
@import '../../assets/styles/vars';

:host {
    display: flex;
    flex-flow: row nowrap;
}

:host ::ng-deep {
    vrs-static-sidebar {
        padding: 50px 25px;
        padding-right: 50px;
        position: static;
    }
    vrs-static-content {
        position: relative;
        z-index: 1;
        background: $neutral-2;
        max-width: 80em;
        padding-left: 100px;
        padding-top: 50px;
        padding-bottom: 100px;
        padding-right: 150px;
        margin-bottom: -50px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 2px 2px 25px 0 rgba(#000, 0.3);
    }
}
