@import './../../../assets/styles/vars';
@import '~bootstrap/scss/bootstrap-grid';

.browser-spinner {
    display: block;
    padding: 5em;
}

.taxon-browser {
    background: none;
    display: flex;
    flex-flow: row nowrap;
}

.options-menu-wrapper {
    position: relative;
    z-index: 2;
    background: $neutral-2;
    border-right: 2px solid $neutral-5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.options-menu {
    padding: 20px;
    padding-right: 0;
    margin-right: 30px;
    padding-top: 30px;
    width: 350px;
    max-width: 350px;
    overflow-x: hidden;
    overflow-y: auto;

    @include media-breakpoint-down(lg) {
        width:275px;
        max-width:275px;
    }
    @include media-breakpoint-down(md) {
        width:250px;
        max-width:250px;
    }
    @include media-breakpoint-down(xs) {
        width:250px;
        max-width:250px;
    }
}

.filters-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    h5 {
        font-size: 0.8rem;
        font-weight: 600;
        color: $neutral-6;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin: 0;
    }
}

.clear-settings {
    font-size: 0.8rem;
    cursor: pointer;
}

.checkbox {
    display: block !important;
    white-space: nowrap;
}

.cards-container {
    position: relative;
    flex: 1 1 auto;
}

.cards-wrapper {
    height: inherit;
}

:host ::ng-deep ul.nav.nav-tabs {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

.tabset-top {
    background: $neutral-3;
    max-width: 1400px;
    margin: auto;
    padding: 2em;
    padding-bottom: 0em;
    border-bottom: none;
}

.checkbox {
    display: inline-block;
    margin-right: 1em;
    padding: 0 15px;
    font-size: 0.9em;
    color: #666;
    label {
        margin-left: 0.5em;
        margin-bottom: 0;
    }
}

:host ::ng-deep tabset ul.nav.nav-tabs {
    max-width: 1200px;
    background: $neutral-3;
    margin: auto;
    border: none;
    a.nav-link {
        background: $neutral-3;
        border-bottom: 1px solid $neutral-2;
        &.active {
            background: $neutral-2;
        }
    }
}

:host ::ng-deep .tab-content {
    border-radius: 0;
}

.container {
    @include media-breakpoint-up(xl) {
        max-width: 1400px;
    }
}

.browser-content-wrapper {
    width: 100%;
}

.browser-content-menu {
    padding: 0 25px;
    padding-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid $neutral-5;
}

.browser-content-menu > div {
    display: flex;
    flex-flow: row nowrap;
}

.toolbar-btn {
    cursor: pointer;
    padding: 5px 0;
    margin-left: 15px;
    font-size: 0.8rem;
    .oi {
        font-size: 0.9rem;
        margin-left: 5px;
    }
}

.sidebar-toggle {
    position: absolute;
    right: -12px;
    top: 50%;
    background-color: $neutral-3;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    font-size: 16px;
    border: 1px solid $neutral-5;
    color: $neutral-6;
    cursor:pointer;
    .oi {
        top: 3px;
        left: 4px;
    }
}

.total-taxa {
    font-size: 0.8rem;
    color: $neutral-7;
    padding: 5px 0;
}
