<div class="taxon-browser">
<div class="container">
<div class="row">
    <div class="col-3">
<!--         <vrs-informal-group-grid (informalGroupSelection)="onInformalGroupSelection($event)"></vrs-informal-group-grid> -->
        <div class="checkbox">
            <input type="checkbox" (change)="onFiListCheckbox($event)" id="finnishList">
            <label for="finnishList">Kansallinen luettelo</label>
            <vrs-help>Tässä on löpinää kansallisesta luettelosta</vrs-help>
        </div>
        <div class="checkbox">
            <input type="checkbox" (change)="onEuListCheckbox($event)" id="euList">
            <label for="euList">Euroopan luettelo</label>
            <vrs-help>Tässä on löpinää eu:n luettelosta</vrs-help>
        </div>
        <button class="btn vrs-button" (click)="viewMode = 'grid'">grid mode</button>
        <button class="btn vrs-button" (click)="viewMode = 'list'">list mode</button>
    </div>
    <div class="col-9">
        <div *ngIf="viewMode == 'grid'">
            <vrs-taxoncard-grid [taxa]="taxa" (scrolled)="onScroll()"></vrs-taxoncard-grid>
        </div>
        <div *ngIf="viewMode == 'list'">
            <vrs-taxon-browser-list [taxa]="taxa" (scrolled)="onScroll()"></vrs-taxon-browser-list>
        </div>
    </div>
</div>
</div>
</div>