@import './../../../assets/styles/vars';
@import '~bootstrap/scss/bootstrap-grid';

.browser-spinner {
    display: block;
    padding: 5em;
}

.taxon-browser {
    background: none;
    display: flex;
    flex-flow: row nowrap;
}

.options-menu-wrapper {
    background: hsl(40, 15, 90);
    border-right: 2px solid hsl(40, 15, 60);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.options-menu {
    padding: 20px;
    padding-top: 30px;
    width: 350px;
    max-width: 350px;
    overflow-x: hidden;
}

.filters-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    h5 {
        font-size: 0.8rem;
        font-weight: 600;
        color: hsl(40, 10, 40);
        text-transform: uppercase;
    }
}

.clear-settings {
    font-size: 0.8rem;
    cursor: pointer;
}

.checkbox {
    display: block !important;
    white-space: nowrap;
}

.cards-container {
    flex: 1 1 auto;
}

.cards-wrapper {
    height: inherit;
}

:host ::ng-deep ul.nav.nav-tabs {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

.tabset-top {
    background: $neutral-3;
    max-width: 1400px;
    margin: auto;
    padding: 2em;
    padding-bottom: 0em;
    border-bottom: none;
}

.checkbox {
    display: inline-block;
    margin-right: 1em;
    padding: 0 15px;
    font-size: 0.9em;
    color: #666;
    label {
        margin-left: 0.5em;
        margin-bottom: 0;
    }
}

:host ::ng-deep tabset ul.nav.nav-tabs {
    max-width: 1200px;
    background: $neutral-3;
    margin: auto;
    border: none;
    a.nav-link {
        background: $neutral-3;
        border-bottom: 1px solid $neutral-2;
        &.active {
            background: $neutral-2;
        }
    }
}

:host ::ng-deep .tab-content {
    border-radius: 0;
}

.container {
    @include media-breakpoint-up(xl) {
        max-width: 1400px;
    }
}