@import '../../../../assets/styles/vars';

$background: $background-light;
$text: $text-dark;
$highlight: $text-highlight;

.language-selector {
    background: none;
    color: $text;
    border: none;
    font-family: $font-montserrat;
    font-weight: 600;
}

.language-selector a{
    color: $text;
}

.language-selector a:hover {
   color: $highlight;
 }
