<div class="language-selector">
	  <!-- <span class="oi oi-globe"></span> -->
  <ng-container *ngIf="translate.currentLang == 'fi'">
    <a tabindex="0" (click)="switchLanguage('en')" (keyup.enter)="switchLanguage('en')">EN</a>
	    |
	  <a tabindex="0" (click)="switchLanguage('sv')" (keyup.enter)="switchLanguage('sv')">SV</a>
  </ng-container>
  <ng-container *ngIf="translate.currentLang == 'en'">
    <a tabindex="0" (click)="switchLanguage('fi')" (keyup.enter)="switchLanguage('fi')">FI</a>
	    |
    <a tabindex="0" (click)="switchLanguage('sv')" (keyup.enter)="switchLanguage('sv')">SV</a>
  </ng-container>
  <ng-container *ngIf="translate.currentLang == 'sv'">
    <a tabindex="0" (click)="switchLanguage('fi')" (keyup.enter)="switchLanguage('fi')">FI</a>
	    |
    <a tabindex="0" (click)="switchLanguage('en')" (keyup.enter)="switchLanguage('en')">EN</a>
  </ng-container>
</div>
