@import '../../../../assets/styles/vars';

$highlight: $text-highlight;

.language-selector {
    background: none;
    color: rgba($text-light, 0.5);
    border: none;
    font-family: $font-montserrat;
    font-weight: 400;
}

.language-selector a{
    color: rgba($text-light, 0.5);
}

.language-selector a:hover {
   color: $highlight;
   cursor:pointer;
 }
