<div class="language-selector">
	  <span class="oi oi-globe"></span>
	  <span *ngIf="translate.currentLang == 'fi'">
	    <a href="javascript:;" (click)="switchLanguage('en')">EN</a>
	    |
	    <a href="javascript:;" (click)="switchLanguage('sv')">SV</a>
	  </span>
	  <span *ngIf="translate.currentLang == 'en'">
	    <a href="javascript:;" (click)="switchLanguage('fi')">FI</a>
	    |
	    <a href="javascript:;" (click)="switchLanguage('sv')">SV</a>
	  </span>
	  <span *ngIf="translate.currentLang == 'sv'">
	    <a href="javascript:;" (click)="switchLanguage('fi')">FI</a>
	    |
	    <a href="javascript:;" (click)="switchLanguage('en')">EN</a>
	  </span>
	</div>
  
