<div>
    <div class="vrs-form" *ngIf="loggedIn;else loginError">
        <h3 #formName></h3>
        <div class="vrs-laji-form" #lajiform></div>
        <button id="formSend" type="submit" class="btn btn-primary" (click)="onBtnSubmit()" [disabled]="saving" translate>
            form.send
        </button>
        <div class="info mt-4">
            <p [innerHTML]="'forms.desc.3' | translate"></p>
            <a target="_blank" href="https://laji.fi/vihko/terms-of-service" translate>forms.desc.4</a>
        </div>
    </div>
</div>

<ng-template #loginError>
    <div class="vrs-form">
        <h1 translate style="margin-top: 40px;">forms.title</h1>
        <p translate>form.loginError.1</p>

        <div class="login-section">
        <div class="vrs-card">
            <div>
            <p translate>form.loginError.2</p>
            <ul>
                <li translate>form.loginError.2.1</li>
                <li translate>form.loginError.2.2</li>
            </ul>
            </div>
            <a href="{{loginUrl}}" class="form-login" translate>form.login</a>
        </div>
        <div class="vrs-card">
            <div>
            <p translate>form.loginError.3</p>
            <ul>
                <li translate>form.loginError.3.1</li>
                <li translate>form.loginError.3.2</li>
            </ul>
            </div>
            <a class="form-login" [href]="prepopulatedName
                ? 'https://loydos.luomus.fi/forms/vieraslaji?defaultSpecies=' + prepopulatedName
                : 'https://loydos.luomus.fi/forms/vieraslaji'" target="_blank" translate>
                form.loginError.continue
            </a>
        </div>
        </div>
    </div>
</ng-template>
