<div class="container-fluid laji-form" *ngIf="loggedIn;else loginError">
    <br>
    <div class="row">
        <div class="col-lg-9">
            <h3 id="formName"></h3>
            <span id="formDesc"></span>
        </div>
        <br>
        <div class="col-lg-12 vrs-laji-form" #lajiform></div>
    </div>
    <div>
        <button id="formSend" type="submit" class="btn btn-primary" (click)="submit()" translate>
            form.send
        </button>
    </div>
</div>

<ng-template #loginError>
    <div class="form-login"><p translate>form.login</p>
</div>
</ng-template>