@import '../../../assets/styles/vars';
@import '~bootstrap/scss/bootstrap-grid';


.form-login {
    padding: 2em;
    font-size: 3rem;
}

:host {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.vrs-form {
    position: relative;
    z-index: 11;
    padding: 50px;
    width: 100%;
    max-width: 50rem;
    background: $neutral-2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 2px 2px 25px 0 rgba(0, 0, 0, 0.2);
    @include media-breakpoint-down(sm) {
        border-radius: 0;
        padding: 25px;
    }
}

:host ::ng-deep .vrs-form .btn {
    background-color: $neutral-1;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
    border: none;
    color: $neutral-7;
    &:hover {
        background-color: $neutral-2;
    }
    &:active {
        color: $neutral-7;
        background-color: $neutral-2;
    }
    &:active:focus {
        box-shadow:0 0 0 3px rgba($primary-5, 0.3);
    }
}

#formName {

}

#formDesc {
    max-width: 35rem;
}

.vrs-laji-form {
    width: 100%;
}