<div class="hero"></div>
<section class="heading-section">
    <div class="container">
        <div class="row">
            <div class="col-12 heading-box-wrapper">
                <div class="heading-box">
                    <img alt="Vieraslajit logo" class="vrs-logo" src="../../../assets/images/logos/vieraslajit_logo.svg" alt="">
                    <div>
                        <h1 class="mb-1" translate>home.h1</h1>
                        <h2 translate>home.h2</h2>
                        <p><b translate>home.desc.1</b> {{'home.desc.2' | translate}} <a [routerLink]="['/info', getReadMoreId()]" translate>home.desc.3</a></p>
                        <a class="btn vrs-button accent" routerLink="/ilmoita" translate>navigation.observations.report</a>
                    </div>
                </div>
            </div>
<!--             <div class="col-12 col-md-3 topical-species-header-container">
                <div class="topical-species-header">
                    <h3 translate>topicalSpecies.header.title</h3>
                    <p translate>topicalSpecies.header.description</p>
                    <div class="caret-bottom"><span class="oi oi-caret-bottom"></span></div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<section class="news-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9">
                <ul class="news-list">
                    <li *ngFor="let story of news">
                        <div class="news-article-header">
                            <div class="featured-image-container" *ngIf="story.featuredImage">
                                <!-- Featured image -->
                                <img [src]="story.featuredImage.url" [alt]="story.featuredImage.alt" [title]="story.featuredImage.caption">
                            </div>
                            <div>
                                <!-- Title -->
                                <a class="story-title" [routerLink]="'/ajankohtaista/' + story.id">{{ story.title }}</a>
                                <div class="story-posted">{{ story.posted | date: 'dd.MM.yyyy' }}</div>
                            </div>
                        </div>
                        <div *ngIf="story.content" [innerHTML]="story.content | parsewp | truncate:500"></div>
                        <hr>
                    </li>
                </ul>
                <div class="more-news-container" *ngIf="news?.length > 0">
                    <a routerLink="/ajankohtaista/" translate>home.moreNews</a>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="topical-species-container">
                    <div class="topical-species-mobile-header">
                        <h3 translate>topicalSpecies.header.title</h3>
                        <p translate>topicalSpecies.header.description</p>
                    </div>
                    <a [routerLink]="'/lajit/' + ts.id" *ngFor="let ts of topical">
                        <img [src]="ts.multimedia[0].thumbnailURL" [alt]="ts.vernacularName | capitalize">
                        <div class="image-label">{{ ts.vernacularName | capitalize }}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="some-section">
    <div class="container">
        <div class="some-container">
            <div class="fb-page" data-href="https://www.facebook.com/vieraslajit" data-tabs="timeline" data-width="340" data-height="500" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/vieraslajit" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/vieraslajit">Facebook</a></blockquote></div>
            <a class="twitter-timeline" data-lang="fi" data-width="340" data-height="500" href="https://twitter.com/Vieraslajit?ref_src=twsrc%5Etfw">Twitter</a>
        </div>
    </div>
</section>

<!-- 
<div class="hero">
    <header class="container">
        <h1>Vieraslajit hallintaan</h1>
        <h2>Tule hallitsemaan vieraslajeja jne</h2>
    </header>
</div>
<section class="section1">
    <div class="box-container">
        <div class="box">
            <div class="content">
                <div>Vieraslaji on ihmisen myötävaikutuksella uudella alueella ilmestynyt laji. Haitalliseksi vieraslaji luokitellaan, kun se uhkaa luonnon monimuotoisuutta, aiheuttaa haittaa alkuperäisille lajeille, terveydelle tai taloudelle.</div>
                <a class="btn vrs-button primary" routerLink="/ilmoita" translate>navigation.observations.report</a>
            </div>
            <div class="i-container">
                <span class="oi oi-info"></span>
            </div>
        </div>
    </div>
    <div class="container">
        <vrs-topical-species [taxa]="topical"></vrs-topical-species>
    </div>
</section>
<section class="section2">
    <div class="container">
        <div>
            <ul class="news-list">
                <ng-container *ngFor="let story of news">
                    <li>
                        <a class="story-title" [routerLink]="'/ajankohtaista/' + story.id">{{ story.title }}</a>
                        <div class="story-posted">{{ story.posted | date: 'dd.MM.yyyy' }}</div>
                        <div *ngIf="story.content" [innerHTML]="story.content | parsewp | truncate:300"></div>
                    </li>
                    <hr>
                </ng-container>
            </ul>
            <div class="more-news-container" *ngIf="news?.length > 0">
                <a routerLink="/ajankohtaista/">Lisää uutisia</a>
            </div>
        </div>
    </div>
</section>
<section class="section3">
    <div class="container">
        <div class="some-container">
            <div class="fb-page" data-href="https://www.facebook.com/vieraslajit" data-tabs="timeline" data-width="340" data-height="500" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/vieraslajit" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/vieraslajit">Vieraslajit</a></blockquote></div>
            <a class="twitter-timeline" data-lang="fi" data-width="340" data-height="500" href="https://twitter.com/Vieraslajit?ref_src=twsrc%5Etfw">Tweets by Vieraslajit</a>
        </div>
    </div>
</section>
 -->