@import '../../assets/styles/vars';
@import '~bootstrap/scss/bootstrap-grid';

$raised-1: 0 2px 6px rgba(#000, .2);

.hero {
    background: url('/assets/images/bgs/vieraslajiportaali_banneri.jpg');
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    box-shadow: $raised-1;

    @include media-breakpoint-down(sm) {
        height: 150px;
    }
}
/* 
.hero header {
    margin-top: -100px;
    color: $neutral-1;
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 50px;
    text-align: center;
    text-shadow: 0 2px 8px rgba($neutral-9,.8);
}

.hero header h1 {
    color: $neutral-1;
    font-size: 2.5rem;
    font-weight: 600;
}

.hero header h2 {
    color: $primary-2;
    font-size: 1.5rem;
    font-weight: 600;
}

.box-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.box {
    margin-top: -100px;
    background-color: $neutral-2;
    border-radius: 10px;
    width: 800px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);

    display: flex;
    flex-flow: row nowrap;
    @include media-breakpoint-down(xs) {
        border-radius: 0;
    }
}

.box .content {
    padding: 40px;
    div {
        margin-bottom: 10px;
    }
}

.box .i-container {
    background-color: $primary-2;
    color: $primary-5;
    padding: 30px;
    border-left: 1px solid $primary-3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    @include media-breakpoint-down(xs) {
        border-radius: 0;
    }
}

.section1 {
    border-top: 2px solid $neutral-5;
    background-color: $neutral-3;
    padding-bottom: 40px;
}

.section1 > .container {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.news-list {
    margin-top: 40px;
    list-style: none;
    padding: 0 45px;
}

.news-list li {
    max-width: 40em;
}

:host ::ng-deep .news-list img {
    max-width: 40em;
    @include media-breakpoint-down(sm) {
        max-width: 300px;
    }
}

.story-title {
    font-size: 1.25rem;
}

.story-posted {
    font-size: 0.9rem;
    color: $neutral-6;
}

.more-news-container {
    padding: 0 45px;
}

vrs-topical-species {
    display: flex;
    margin-top: 50px;
    max-width: 40em;
}

.topical-species-container img {
    display: inline-block;
    height: 150px;
    @include media-breakpoint-down(sm) {
        display: block;
    }
}

.topical-species-container a {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
    color: $neutral-3;
    font-size: 0.8rem;
    cursor: pointer;
    .image-label {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: right;
        padding-right: 10px;

        background: rgba(#000, 0.5);
        font-weight: 400;
    }
    &:hover {
        color: $neutral-5;
    }
}

.section2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: $neutral-1;
    padding-top: 40px;
    padding-bottom: 80px;
    border-top: 1px solid $neutral-5;
}

.section2 > .container {
    display: flex;
    justify-content: center;
}

.some-container {
    display: flex;
    flex-flow: row wrap;
}

:host ::ng-deep .fb-page > span {
    vertical-align: unset !important;
}

:host ::ng-deep .twitter-timeline, .fb-page {
    height: 500px !important;
    margin: 0 20px !important;
    margin-top: 20px !important;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.3);
}

.section3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-top: 1px solid $neutral-5;
    padding: 40px 0;
}

.section3 > .container {
    display: flex;
    justify-content: center;
}
 */



/*  */

.heading-section {
    padding: 20px 0;
}

.heading-box-wrapper {
    @include media-breakpoint-down(xs) {
        padding: 0;
    }
}

.heading-box {
    background: $neutral-2;
    display: flex;
    padding: 20px 40px;
    box-shadow: $raised-1;
    @include media-breakpoint-down(xs) {
        flex-direction: column;
    }
}

.vrs-logo {
    height: 200px;
    width: auto;
    padding: 20px;
}

.topical-species-header {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.topical-species-header-container {
    display: flex;
    align-items: flex-end;
}

.caret-bottom {
    display: flex;
    justify-content: center;
}

.oi-caret-bottom {
    font-size: 32px;
    color: $accent-5;
    text-shadow: 0 1px 3px rgba(#000, .3);
}


.news-section {
    background: $neutral-2;
    padding: 20px 0;
    box-shadow: $raised-1;
}

.news-list {
    padding: 0;
    list-style: none;
}

.story-title {
}

.story-posted {
    font-size: 0.9rem;
    color: $neutral-6;
}

:host ::ng-deep .news-list img {
    max-width: min(500px, 100%);
}
:host ::ng-deep .news-list figcaption {
    color: $neutral-6;
    font-size: .9rem;
}

.topical-species-container {
    @include media-breakpoint-down(sm) {
        padding: 20px 0;
    }
}

.topical-species-container > a {
    display: block;
    margin-bottom: 20px;
}

.topical-species-mobile-header {
    display: none;
    @include media-breakpoint-down(sm) {
        display: block;
    }
}




.some-section {
    padding: 20px 0;
}

.some-section > .container {
    @include media-breakpoint-down(sm) {
        padding: 0;
    }
}

.some-container {
    display: flex;
    flex-flow: row wrap;
}

:host ::ng-deep .fb-page > span {
    vertical-align: unset !important;
}

:host ::ng-deep .twitter-timeline, .fb-page {
    height: 500px !important;
    margin: 0 20px !important;
    margin-top: 20px !important;
    box-shadow: $raised-1;
}










