@import '../../../assets/styles/vars.scss';
@import '~bootstrap/scss/bootstrap-grid';


.news-header {
    padding: 1em 2em 1em 0em;
    @include media-breakpoint-down(xs) {
        padding-top: 0;
        padding-right: 0;
    }
}

.news-header {
    display: flex;
    flex-flow: row wrap;
}

.news-header-text {

}

.news-title-container {
    padding-right: 15px;
    max-width: 35em;
}

.news-title {
    font-size: 1.1rem;
    font-weight: 600;
}

.news-tag {
    background: $primary-1;
    color: $primary-7;
    border-radius: 15px;
    font-size: .8rem;
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid $primary-3;
}

.news-posted {
    color: $neutral-6;
}

.news-thumbnail {
    object-fit: scale-down;
    max-height: 100px;
}
