@import '../../../assets/styles/vars.scss';
@import '~bootstrap/scss/bootstrap-grid';


.news-header {
    padding: 1em 2em 1em 0em;
    @include media-breakpoint-down(xs) {
        padding-top: 0;
        padding-right: 0;
    }
}

.news-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.news-header-text {

}

.news-title {
    padding-right: 15px;
    font-size: 1.1em;
    max-width: 35em;
    font-weight: 600;
    color: $neutral-8;
    cursor: pointer;
}

.news-tag {
    background: $accent-1;
    color: $accent-6;
    border-radius: 15px;
    font-size: .8rem;
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid $accent-2;
}

.news-posted {
    color: lighten($neutral-8, 20);
}

.news-thumbnail {
    object-fit: scale-down;
    max-height: 100px;
    padding: 0 1em;
}
