@import '../../../assets/styles/vars.scss';
@import '~bootstrap/scss/bootstrap-grid';


.news-header {
    background: $primary-2;
    border-left: 8px solid red;
    padding: 2em 2em 2em 0.5em;

    &.c0{
        border-color: red;
    }
    &.c1 {
        border-color: purple;
    }
    &.c2 {
        border-color: yellow;
    }
    &.c3 {
        border-color: deeppink;
    }
    &.c4 {
        border-color: blue;
    }
    &.c5 {
        border-color: fuchsia;
    }
    &.c6 {
        border-color: lime;
    }
}

.news-header-text {

}

.news-title {
    font-size: 1.1em;
    font-weight: 600;
    color: $neutral-8;
}

.news-tag {
    color: lighten($neutral-8, 20);
    font-style:italic;
    @include media-breakpoint-down(xs) {
        display: none;
    }
}

.news-posted {
    color: lighten($neutral-8, 20);
}

.news-thumbnail {
    object-fit: scale-down;
    max-height: 100px;
}