<tabset id='browser-tabset'>
    <tab heading="{{'navigation.list' | translate}}">
        <div class="tab-pane container " id="taxontable">
            <vrs-taxon-browser-list [taxa]='taxa'></vrs-taxon-browser-list>
        </div>
    </tab>
    <tab heading="{{'navigation.grid' | translate}}"[active]="true">
        <div class="tab-pane container py-3" id="cardcontainer">
        <vrs-taxoncard-grid [taxa]="pageData"></vrs-taxoncard-grid>
        <br>
        <pagination [totalItems]="taxa.length" [(ngModel)]="currentPage" [maxSize]="5" [itemsPerPage]="12" (pageChanged)="onGridPageChanged($event)"></pagination>
        </div>
    </tab>
</tabset>