<tabset id='browser-tabset'>
    <tab heading="{{'navigation.list' | translate}}">
        <div class="tab-pane container " id="taxontable">
            <vrs-taxon-browser-list [asyncTaxa]='asyncTaxa | async'></vrs-taxon-browser-list>
        </div>
    </tab>
    <tab heading="{{'navigation.grid' | translate}}"[active]="true">
        <div class="tab-pane container py-3" id="cardcontainer">
            <vrs-taxoncard-grid [taxa]="asyncTaxa | async | paginate:
            {id: 'server', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: this.settingsService.apiSettings.total}"></vrs-taxoncard-grid>
        </div>
    </tab>
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</tabset>