@import '../../../../assets/styles/vars';

:host {
    position: relative;
}

.title {
    cursor: pointer;
    padding: 5px 0;
    font-size: 0.8rem;
}

.dropdown {
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: $neutral-1;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(#000, 0.3);
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        width: max-content;
    }
    li {
        padding: 5px 10px;
        padding-right: 20px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background: $neutral-2;
        }
    }
}

.placeholder {
    display: inline-block;
    height: 18px;
    width: 18px;
}

.hidden {
    display: none;
}
