@import '../../../../assets/styles/vars';
@import '../../../../../node_modules/bootstrap/scss/bootstrap-grid';

:host {
    height: inherit;
}

.mosaic-parent {
    overflow-y: scroll;
    height: inherit;
    display: flex;
    justify-content: left;
    padding-left: 1em;
}

.total-taxa {
    flex: 1 1 100%;
    padding-left: 2em;
    padding-top: 1em;
    font-size: 1.2em;
    font-weight: 600;
    color: $neutral-6;
}

.mosaic-babysitter {
    display: flex;
    flex-flow: row wrap;
}

.mosaic-child {
    display: inline-block;
    margin: 1em;
    width: 700px;

    box-shadow: 2px 2px 10px $neutral-4, inset 0 0 0 2px rgba(0, 0, 0, 0);
    background: $neutral-1;
    padding: 1em;
    border-radius: 15px;
}

.mosaic-img {
    display: inline-block;
    width: 250px;
    text-align: center;
    background: $neutral-3;
    box-shadow: 0px 0px 2px #ccc;
    img {
        max-height: 150px;
        max-width: 250px;
        width: auto;
        height: 150px;
    }
}

.mosaic-desc {
    display:inline-block;
    padding: 0em 1em;
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        margin: 0.25em 0;
        background: $accent-1;
        color: $accent-6;
        border: 1px solid $accent-2;
        padding: 0.25em 1em;
        border-radius: 10px;
    }
}

.vernacular-name {
    color: $neutral-7;
    font-weight: 600;
}

.scientific-name {
    color: $neutral-6;
    font-size: 0.8em;
    margin-bottom: 1em;
}

.cursive {
    font-style: oblique;
}

.administrative-status {
    font-size: 0.7em;
    color: $neutral-6;
}

.more-results {
    margin: 1em;
    padding: 1em;
    color: $accent-6;
    background: $accent-1;
    border: 1px solid $accent-2;
    border-radius: 15px;
    box-shadow: 2px 2px 10px $neutral-4;
    text-align: center;
}
