<div class="card-group" id="important" infiniteScroll
    [infiniteScrollDistance]="0.1"
    [infiniteScrollThrottle]="1000"
    [infiniteScrollContainer]="'.card-group'"
    [fromRoot]="true"
    (scrolled)="onScroll()">
    <div class="card-container">
        <div *ngFor="let taxon of taxa" class="card raised-1" [routerLink]="'/lajit/' + taxon.id">
            <img *ngIf="taxon.multimedia && taxon.multimedia[0].thumbnailURL" class="card-img-top" src="{{taxon.multimedia[0].thumbnailURL}}">
            <img *ngIf="!taxon.multimedia || !taxon.multimedia[0].thumbnailURL" class="card-img-top" src="../../../../assets/images/taxon_placeholder.png">
            <div class="card-body text-center">
                <div *ngIf="taxon.species || !taxon.finnish" class="card-text">{{(taxon.vernacularName || taxon.scientificName) | capitalize}}</div>
                <div *ngIf="!taxon.species && taxon.finnish" class="card-text">{{(taxon.vernacularName || taxon.scientificName) | capitalize}} {{'taxonomy.nonspecies' | translate}}</div>
                <div *ngIf="taxon.vernacularName" class="card-text scientific" [class.cursive]="taxon?.cursiveName">{{taxon.scientificName | capitalize}}</div>
            </div>
        </div>
    </div>
</div>