@import '../../../../assets/styles/vars';
@import '../../../../../node_modules/bootstrap/scss/bootstrap-grid';

/** Species card styling **/

#species-card {
    background-color: #fefefe;
    border: 2px solid $border-light;
    width: 100%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    cursor: pointer;
    .card-body {
        background: transparent;
    }
}

#species-card:hover {
    border-color: $primary;
    #species-card-text {
        color: $primary;
    }
}

/** Species img styling, scaling the images about same sized **/

#species-card-text {
    width: 100%;
    color: #222;
}

#species-img {
    padding: 0.5em;
    width: 100%;
    max-height: 15vw;
    object-fit: scale-down;
    @include media-breakpoint-up(xl) {
        max-height: 200px;
    }
    @include media-breakpoint-down(xs) {
        max-height: 200px;
    }
}



@media screen and (max-width: 600px) {
    #species-img {
        width: 100%;
        height: 60%;
        object-fit:scale-down;
    }
}

@media (min-width: 767px) and (max-width: 1199px) {
    #species-img {
        width: 100%;
        height: 70%;

    }
    #species-card-text {
        font-size: 14px;
    }
}

@media (min-width: 1199.98px) {
    #species-img {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }

    #species-card-text {
        height: 12vw;
        font-size: 15px;
    }
}