@import '../../../../assets/styles/vars';
@import '../../../../../node_modules/bootstrap/scss/bootstrap-grid';

#important.card-group {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1em;

    .card {
        margin: 0.5em;
        border-radius: 15px;
        overflow: hidden;

        @include media-breakpoint-up(xs) {
            height: 250px;
            flex: 1 1 100%;
        }
        @include media-breakpoint-up(sm) {
            height: 250px;
            flex: 1 1 40%;
        }
        @include media-breakpoint-up(md) {
            height: 250px;
            flex: 1 1 30%;
        }
        @include media-breakpoint-up(lg) {
            height: 275px;
            flex: 1 1 20%;
        }
        @include media-breakpoint-up(xl) {
            height: 300px;
            flex: 1 1 20%;
        }
    }

    .card-img-top {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .card-body {
        line-height:1;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .card-text.scientific {
        padding: 0.5em;
        font-size: 0.6em;
        color: $neutral-7;
    }

    .cursive {
        font-style: italic;
    }

}













