<div class="mosaic-container" infiniteScroll
    [infiniteScrollDistance]="0.1"
    [infiniteScrollThrottle]="1000"
    [infiniteScrollContainer]="'.mosaic-container'"
    [fromRoot]="true"
    (scrolled)="onScroll()">
    <div class="mosaic-parent">
        <div class="total-taxa">{{'taxonomy.grid.results.1' | translate}} {{total}} {{'taxonomy.grid.results.2' | translate}}</div>
        <div class="ng-content"><ng-content></ng-content></div>
        <a class="mosaic-child"
            *ngFor="let taxon of taxa"
            [routerLink]="'/lajit/' + taxon.id"
            >
            <!--
            [ngClass]= "{
                            'mosaic-child-established': taxon.invasiveSpeciesEstablishment && taxon.invasiveSpeciesEstablishment === 'MX.invasiveEstablished',
                            'mosaic-child-sporadic': taxon.invasiveSpeciesEstablishment && taxon.invasiveSpeciesEstablishment === 'MX.invasiveSporadic'
                        }"
              -->
            <div class="mosaic-img">
                <img alt="" *ngIf="taxon.multimedia && taxon.multimedia[0].thumbnailURL" src="{{taxon.multimedia[0].thumbnailURL}}">
                <img alt="" *ngIf="!taxon.multimedia || !taxon.multimedia[0].thumbnailURL" src="../../../../assets/images/taxon_placeholder.png">
            </div>
            <div class="mosaic-desc">
                <div *ngIf="taxon.species || !taxon.finnish" class="vernacular-name">{{(taxon.vernacularName || taxon.scientificName) | capitalize}}</div>
                <div *ngIf="!taxon.species && taxon.finnish" class="vernacular-name">{{'taxonomy.nonspecies' | translate}} {{(taxon.vernacularName || taxon.scientificName)}}</div>
                <div *ngIf="taxon.vernacularName" class="scientific-name" [class.cursive]="taxon?.cursiveName">{{taxon.scientificName | capitalize}}</div>
                <ul>
                    <li *ngIf="taxon.administrativeStatuses.includes('MX.euInvasiveSpeciesList')" class="administrative-status" translate>administrativeStatus.euInvasiveSpeciesList</li>
                    <li *ngIf="taxon.administrativeStatuses.includes('MX.controllingRisksOfInvasiveAlienSpecies')" class="administrative-status" translate>administrativeStatus.nationallySignificantInvasiveSpecies</li>
                    <li *ngIf="taxon.administrativeStatuses.includes('MX.quarantinePlantPest')" class="administrative-status" translate>administrativeStatus.quarantinePlantPest</li>
                    <li *ngIf="taxon.administrativeStatuses.includes('MX.qualityPlantPest')" class="administrative-status" translate>administrativeStatus.qualityPlantPest</li>
                </ul>
<!--                 <div *ngIf="taxon.invasiveSpeciesEstablishment && taxon.invasiveSpeciesEstablishment === 'MX.invasiveEstablished'" class="establishment establishment-established"><span class="oi oi-home"></span>{{'establishment.established' | translate}}</div>
                <div *ngIf="taxon.invasiveSpeciesEstablishment && taxon.invasiveSpeciesEstablishment === 'MX.invasiveSporadic'" class="establishment establishment-sporadic">{{'establishment.sporadic' | translate}}</div> -->
                <div *ngIf="taxon.invasiveSpeciesEstablishment && taxon.invasiveSpeciesEstablishment === 'MX.invasiveNotYetInFinland'" class="establishment">{{'establishment.none' | translate}}</div>
            </div>
        </a>
        <div *ngIf="taxa.length < total" class="more-results" translate>taxonomy.grid.loading</div>
    </div>
</div>
