@import '../../../../assets/styles/vars';
@import '../../../../../node_modules/bootstrap/scss/bootstrap-grid';

:host {
    height: inherit;
}

.mosaic-parent {
    overflow-y: scroll;
    height: inherit;
    display: flex;
    justify-content: left;
    padding: 0 50px;
    
    @include media-breakpoint-down(lg) {
        padding: 0 15px;
    }
    @include media-breakpoint-down(xs) {
        padding: 0 25px;
    }
}

.total-taxa {
    flex: 1 1 100%;
    padding-top: 1em;
    font-size: 1.2rem;
    color: $neutral-6;
    @include media-breakpoint-down(xs) {
        padding-top: 10px;
        padding-left: 0;
        font-size: 1rem;
    }
}

.ng-content {
    flex: 1 1 100%;
}

.mosaic-babysitter {
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
}

.mosaic-child {
    font-size: 0.9rem;
    display: inline-flex;
    flex-flow: column nowrap;
    margin: 1em;
    position: relative;

    box-shadow: 0px 2px 5px rgba(#000, 0.25);
    background: $neutral-1;
    border-radius: 15px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 7px 30px rgba(#000, 0.25);
    }
    max-width: 300px;
    @include media-breakpoint-down(lg) {
        max-width: 250px;
    }
    @include media-breakpoint-down(xs) {
        max-width: 200px;
    }
}

.mosaic-child-established {
    box-shadow: 0 0 0 2px hsl(0, 40, 70), 0px 2px 5px 1px rgba(#000, 0.25);
    &:hover {
        box-shadow: 0 0 0 2px hsl(0, 40, 70), 0px 7px 30px rgba(#000, 0.25);
    }
}

.mosaic-child-sporadic {
    box-shadow: 0 0 0 2px hsl(50, 60, 70), 0px 2px 5px 1px rgba(#000, 0.25);
    &:hover {
        box-shadow: 0 0 0 2px hsl(50, 60, 70), 0px 7px 30px rgba(#000, 0.25);
    }
}

.mosaic-img {
    display: inline-block;
    overflow: hidden;
    width: 300px;
    text-align: center;
    background: $neutral-2;
    box-shadow: 0px 0px 2px #ccc;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    img {
        max-height: 200px;
        max-width: 300px;
        width: auto;
        height: 200px;
    }

    @include media-breakpoint-down(lg) {
        width: 250px;
        img {
            max-width: 250px;
            max-height: 150px;
        }
    }
    @include media-breakpoint-down(xs) {
        width: 200px;
        img {
            max-width: 200px;
            max-height: 125px;
        }
    }
}

.mosaic-desc {
    display:inline-block;
    padding: 0.5em 1em;
    padding-bottom: 1em;
    max-width: 350px;
}

.vernacular-name {
    font-size: 0.9rem;
    color: $neutral-7;
    font-weight: 600;
    line-height: 1.2;
}

.scientific-name {
    font-size: 0.8rem;
    color: $neutral-6;
    margin-bottom: 5px;
}

.cursive {
    font-style: oblique;
}

.administrative-status {
    font-size: 0.7em;
    color: $neutral-6;
}

.establishment {
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-size: 0.7em;
    color: $neutral-6;
    span {
        margin-right: 5px;
    }
}

.establishment-established {
    color: hsl(0, 60, 45);
}

.establishment-sporadic {
    color: hsl(50, 90, 35);
}

.more-results {
    width: 350px;
    margin: 1em;
    padding: 1em;
    color: $accent-6;
    background: $accent-1;
    border: 1px solid $accent-2;
    border-radius: 15px;
    box-shadow: 2px 2px 10px $neutral-4;
    text-align: center;

    @include media-breakpoint-down(xs) {
        width: 250px;
    }
}
