
<div class="container-fluid">
  <h1 id="heading" translate>observations.myobservations</h1>
 
  <button class="btn btn-primary"><span class="oi oi-plus"></span> Uusi havainto</button>


  <div class="content">
      <ng-container>
        <div class="tab-pane container" id="observationlisttable">
            <ngx-datatable class="material selection-cell" [rows]="observations" [columnMode]="'force'" [columns]="columns" [headerHeight]="50"
            [rowHeight]="50" [reorderable]='true' [selectionType]="'single'"  [footerHeight]="50">
          
            </ngx-datatable>
        </div>    
    </ng-container>
  </div>


</div>
