@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';


#heading{
    padding-top: 20px;
}
.content{
    padding-top:20px;
}
#intro{
    padding-bottom:15px;
}

.vrs-form-list {
    margin: 2em;
    padding: 2em;
    background: whitesmoke;
}