@import './../../assets/styles/vars.scss';
@import './../../assets/styles/datatable.scss';
@import '~bootstrap/scss/bootstrap-grid';

:host ::ng-deep {
    .datatable-body-cell {
        cursor: default !important;
    }
    .datatable-body-row {
        background-color: unset !important;
    }
    .datatable-row-group:hover {
        background-color: unset !important;
    }
}

.forms-container {
    font-size: 1rem;
    position: relative;
    z-index: 11;

    @include media-breakpoint-down(xs) {
        font-size: 1rem;
    }

    margin-top: $navbar-height;

    background: $neutral-2;
    padding: 2em;
    box-shadow: 0 2px 25px 0 rgba($neutral-8, 0.15);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    @include media-breakpoint-down(xs) {
        box-shadow: 0px 1px 20px rgba(black, 0.1);
        border-radius: 0;
    }
}

.space-between {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

h4 {
    color: $neutral-7;
    align-self: flex-end;
}

.vrs-button {
    margin-left: 15px;
}

.edit-btn {
    margin-left: 0.5em;
}

vrs-pre-report-form {
    margin-bottom: 1em;
}
