:host {
  display: block;
  padding: 10px 0;
}

.v-marker {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  margin-right: 5px;
}

.grey-marker {
  background-color: #ccc;
}

.orange-marker {
  background-color: #f89525;
}