:host {
  display: block;
  padding: 10px 0;
  font-size: .8rem;
}

.v-marker {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin-right: 5px;
  border-radius: 0;
}

.box-marker-0 {
  background-color: rgba(#348CF0, .5);
  border: 1px solid rgba(#348CF0, .8);
}
.box-marker-1 {
  background-color: rgba(#90DACF, .5);
  border: 1px solid rgba(#90DACF, .8);
}
.box-marker-2 {
  background-color: rgba(#FFFFBF, .5);
  border: 1px solid rgba(#FFFFBF, .8);
}
.box-marker-3 {
  background-color: rgba(#FDBF66, .5);
  border: 1px solid rgba(#FDBF66, .8);
}
.box-marker-4 {
  background-color: rgba(#F26840, .5);
  border: 1px solid rgba(#F26840, .8);
}

.grey-marker {
  background-color: #ccc;
}

.orange-marker {
  background-color: #f89525;
}