:host {
  display: block;
  padding: 10px 0;
  font-size: .8rem;
}

.v-marker {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin-right: 5px;
}

.v-marker.box-marker {
  background-color: rgba(#f89525, .5);
  border: 1px solid rgba(#f89525, .8);
  border-radius: 0;
}

.grey-marker {
  background-color: #ccc;
}

.orange-marker {
  background-color: #f89525;
}