@import '../../../../assets/styles/vars';

:host {
    position:absolute;
    white-space: nowrap;
    background: $neutral-8;
    color: $neutral-4;
    padding: 1em;
    border-radius: 15px;
    z-index: 1000;
    opacity: 0.9;
}
