@import '../../../assets/styles/vars';
@import '~bootstrap/scss/bootstrap-grid';

$accent: $accent-5;

.container.container-navbar {
    padding: 0;
    max-width: 1400px;
}

/* Background */
nav {

    /* COMPONENT BASE FONT SIZE */
    /* font-size: 0.8rem; */
    font-size: 1rem;

    font-family: $font-family-base;
    font-weight: 500;

/*     padding-top: 1em;
    padding-bottom: 1em; */

    box-shadow: 0 0 10px 0 $neutral-9;
}

.nav-top {
    border-top: 6px solid $accent-5;
    background: $neutral-2;
    .container {
        display: flex;
        flex-direction: row;
    }
}

.header {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 2em;
    div {
        padding: 0.5em;
        display: flex;
        align-items: flex-end;
    }
    .heading {
        font-size: 1.5em;
    }
}

.nav-top .list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    img {
        width: 70px;
        height: 70px;
        padding: 0.5em;
    }
    span {
        padding: 0.5em;
    }
}

.login-lang {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 1em;
}

.nav-bottom {
    background: $neutral-8;
    color: $neutral-2;
    .container {
        display: flex;
        flex-direction: row;
    }
    .nav-links {
        margin: 0;
        div {
            display: inline-block;
            padding: 0.5em;
        }
    }
}

/* After element for transparent background */

/* nav::after {
    content: ''; 
	width: 100%; 
    height: 100%;
    
    background: $primary-5;

    opacity: 0.9; 
    transition: 500ms;
	position: absolute; 
	top: 0; 
	left: 0;
	z-index: -1;
} */

nav.transparent::after {
    @include media-breakpoint-up(lg) {
        box-shadow: none;
        opacity: 0;
        transition: 500ms;
    }
}

nav.notransition:after {
    @include media-breakpoint-up(lg) {
        transition: none !important;
    }
}

/* Navbar toggler */
.navbar-toggler {
    color: $neutral-1;
}

/* Brand */
.vrs-logo {
    height: 70px;
}

nav .navbar-brand {
    color: rgba($neutral-1, 0.9);
    font-size: 1.2em;
    font-weight: 600;
    outline: none;

    &:hover {
        color: $accent-5;
    }
}

/* Items */

nav .nav-item {
    display: flex;
    align-items: center;
    a {
        color: $neutral-1;
    }
}

nav .navbar-nav li.nav-item a.nav-link {
    color: rgba($neutral-1, 0.9);
    padding-right:1vw;
    padding-left:1vw;
}

nav .navbar-nav li.nav-item a.nav-link:hover {
    color: $accent-5;
}

.navbar-nav li:hover a {
    color: $accent-5;
}

/* "About" Dropdown Menu */
#dropdown-about {
    border: none;
    color: rgba($neutral-1, 0.9);
    display: flex;
    align-items: center;

    &:hover {
        color: $accent-5;
    }
}

#dropdown-toggle {
    padding-left:1.5vw;
    padding-right:1.5vw;
    cursor: pointer;
    &:hover {
        color: $accent-5;
    }
}

#dropdown-menu.dropdown-menu.show {
    background: $neutral-2;
    opacity: 0.9;
    position:absolute;
    box-shadow: 2px 2px 5px 0 rgba(#333, 0.5);
}

#dropdown-menu-item {
    display: flex;
    align-items: center;
    color: $neutral-8;
}

#dropdown-menu-item:hover {
    color: $accent-5;
}

.dropdown-menu {
    top: 80% !important;
    font-size: 0.8rem !important;
}

/* Active state for top level links */

.vrs-nav-active {
    color: $accent-5 !important;
}

 /* Search */

 #search-icon   {
    color: $neutral-1;
    cursor: pointer;
    margin-bottom: 5px;
}

#search-icon:hover {
    color: $accent-5;
}

:host ::ng-deep .nav-omni {
    display:flex;
    align-items:center;
}

:host ::ng-deep .nav-omni .omni-search {
    margin: 0;
    padding: 0;
    max-width: 100%;

    @include media-breakpoint-down(md) {
        margin-left: 7px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}


/* User Menu*/

.oi-account-login {
    margin-right: 1vw;
    margin-left: 1vw;
}

#personbutton {
    background: none;
    color: $neutral-1;
    margin-bottom: 5px;
    margin-right: 0.3vw;
    margin-left: 0.3vw;
}

.person-button-hover-area:hover {
    color:$accent;
    #personbutton {
        color:$accent;
    }
}

#dropdown-user ul#dropdown-basic.dropdown-menu-right.show {
    background: $neutral-2;
    opacity: 0.9;
    color: $neutral-8;
    position:absolute;
    box-shadow: 2px 2px 5px 0 rgba(#333, 0.5);

    @include media-breakpoint-down(md) {
        left: 0px !important;
        right: auto !important;
    }

    .dropdown-item {
        color: $neutral-8;
        &:hover {
            color: $accent-5;
        }
    }
}

.dropdown-item:active {
    background-color: $neutral-2 !important;
}

.usermenuitem {
    cursor: pointer;
}

/* Language Selector */

#language-selector {
    @include media-breakpoint-down(md) {
        margin-left:8px;
    }
}
