<vrs-hamburger-bar *ngIf="mobile" [aboutMenu]="menu" (onLogout)="logout()"></vrs-hamburger-bar>
<div *ngIf="mobile" class="mobileHeightFix"> </div>
<nav *ngIf="!mobile">
    <section class="laji-toolbar" [ngClass]="{'heightFix': fixedTop}">
        <div class="container">
            <a href="https://laji.fi">Suomen lajitietokeskus</a>
            <vrs-language-selector></vrs-language-selector>
        </div>
    </section>
    <section class="nav-top">
        <div class="container">
            <div class="header">
                <div class="header-link" routerLink="/home">
                    <img class="vrs-logo-img vrs-logo" src="./assets/images/logos/vieraslaji-logo-160x160_cleaned.png">
                    <span class="heading">Vieraslajit.fi</span>
                </div>
            </div>
            <div class="login">
                <vrs-user-menu [loginUrl]="loginUrl"
                               [loggedIn]="loggedIn"
                               [personName]="userPropertiesWrapper().person.fullName"
                               (onLogout)="logout()"></vrs-user-menu>
            </div>
        </div>
    </section>
    <section class="nav-bottom" [ngClass]="{'fixed-top': fixedTop}">
        <div class="container">
            <vrs-omnisearch class="nav-omni"></vrs-omnisearch>
            <div class="nav-links">
                <div class="link" routerLink="/taxon" routerLinkActive="active" translate>navigation.taxonomy</div>
                <div class="link" routerLink="/news" routerLinkActive="active" translate>navigation.news</div>
                <div class="link" routerLink="/viekas" routerLinkActive="active" translate>navigation.viekas</div>
                <div class="dropdown link vrs-dropdown" dropdown>
                <a class="dropdown-toggle" translate>navigation.observations<span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" id="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item"
                        routerLink="/observations" translate>navigation.observations.map</a></li>
                    <li role="menuitem"><a class="dropdown-item"
                        routerLink="/form/JX.123757" translate>navigation.observations.report</a></li>
                </ul>
                </div>
                <div class="dropdown link vrs-dropdown" id="dropdown-about" dropdown>
                    <a class="dropdown-toggle" translate>navigation.about<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="container">
                            <div class="row">
                                <div class="col-3">
                                    <h3>Tietoa vieraslajeista</h3>
                                </div>
                                <div class="col-3">
                                    <h3>Vieraslajitoiminta</h3>
                                </div>
                                <div class="col-3">
                                    <h3>Lainsäädäntö ja sopimukset</h3>
                                </div>
                                <div class="col-3">
                                    <h3>Resurssit</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</nav>
