@import '../../../assets/styles/vars';

$accent: $primary;

$background: $background-light;
$background-hover: $background;

/* Background */
#mainNav {
    font-family: $font-montserrat;

    border-bottom: 1px solid $accent;

    box-shadow: 0px 0px 5px 0px $shadow;
}

/* After element for transparent background */

#mainNav::after {
    content: ''; 
	width: 100%; 
    height: 100%;
    
	/* Background gradient */
    background: $background-light; /* Old browsers */
    background: -moz-linear-gradient(top, $background-light 50%, #e8e8e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $background-light 50%,#e8e8e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $background-light 50%,#e8e8e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	opacity: 0.9; 
	position: absolute; 
	top: 0; 
	left: 0;
	z-index: -1;
}


/* Brand */
.vrs-logo {
    height: 40px;
}

#mainNav .navbar-brand {
    color: $text-dark;
    font-size: 22px;
    outline: none;

    &:hover {
        color: $text-hover;
    }
}

/* Items */

#mainNav .nav-item {
    display: flex;
    align-items: center;
    a {
        color: $text-dark-lighter;
    }
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: $text-dark-lighter;
    padding-right:10px;
    padding-left:10px;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: $text-hover;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: $accent; //#405155;
    outline: none;
}

.navbar-nav li:hover a {
    color: $text-hover;
}

/* "About" Dropdown Menu */
#dropdown-about {
    border: none;
    color: $text-dark-lighter;
    &:hover {
        color: $text-hover;
    }
}

#dropdown-toggle {
    padding-left:10px;
    padding-right:10px;
    cursor: pointer;
    &:hover {
        color: $text-hover;
    }
}

#dropdown-menu-item {
    background: $background;
    display: flex;
    align-items: center;
    color: $text-dark-lighter;
    font-family: $font-montserrat;
    font-weight: 400;
}

#dropdown-menu-item:hover {
    color: $text-hover;
    background: $background-hover;
}

.dropdown-menu {
    top: 90% !important;
}

/* Active state for top level links */

.vrs-nav-active {
    color: $accent !important;
}

 /* Search */

 #search-icon   {
    color: $text-dark-lighter;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 5px;
}

#search-icon:hover {
    color: $text-hover;
}

/* User Menu*/

#personbutton {
    background: none;
    color: $text-dark-lighter;
    margin-bottom: 5px;
}

#personbutton:hover {
    color:$accent;
}

.usermenuitem {
    cursor: pointer;
    font-family: $font-montserrat;
    font-weight: 400;
}

.usermenuitem:hover {
    color: $text-hover;
    background: none;
}

/* Language Selector */

#language-selector {
    cursor: pointer;
    padding-left: 10px;
}

/* Media */

@media screen and (max-width: 989px) {
    #mainNav {font-size: 16px;}
    #dropdown-menu-item {font-size: 16px;}
    #usermenu-item {font-size: 16px;}
    #search-icon{padding-left:10px;}
    #mainNav .dropdown{padding-top:5px;padding-bottom: 5px;}
}
@media screen and (max-width: 1100px) and (min-width: 989px) {
    #mainNav {font-size: 12px;}
    #dropdown-menu-item {font-size: 12px;}
    #usermenu-item {font-size: 12px;}
}

@media (min-width: 991.98px) {
    #dropdown-about {
        border: none;
        color: $text-dark-lighter;
        display: flex;
        align-items: center;
    }
}