@import '../../../assets/styles/vars';

#mainNav {
    font-size: 14px;
    font-weight: 700;
    font-family: $font-montserrat;
    background: $primary;
}


@media screen and (max-width: 989px) {
    #mainNav {font-size: 16px;}
    #dropdown-menu-item {font-size: 16px;}
    #search-icon{padding-left:10px}
    #mainNav .navbar-nav li.nav-item a.nav-link{padding-top: 5px;padding-bottom:5px;}
    #mainNav .dropdown{padding-top:5px;padding-bottom: 5px;}
    #mainNav .nav-item{padding-top:5px;padding-bottom: 5px;}
}
@media screen and (max-width: 1040px) {
    #mainNav {font-size: 12px;}
    #dropdown-menu-item {font-size: 12px;}

}



#mainNav .navbar-brand {
    color: $content-background;
    font-size: 20px;

    &:hover {
        color: $content-background-highlight-dark;
    }
}

#mainNav .nav-item {
    background: $primary;
    display: flex;         
    align-items: center;     
    a {
        color: $content-background;
     
    }
}


#mainNav .navbar-nav li.nav-item a.nav-link {
    color: $content-background;
    background: $primary;
    padding-right:10px;
    padding-left:10px;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: $content-background-highlight-dark;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #405155;
}
 
/*Hover state for top level links*/
.navbar-nav li:hover a {
    background: $primary;
    color: $content-background-highlight-dark;
}

#dropdown-about {
    background: $primary;
    border: none;
    color: $content-background;
    &:hover {
        background: $primary;
        color: $content-background-highlight-dark;
    }
}

#dropdown-toggle {
    padding-left:10px;
    padding-right:10px;
    background: $primary;
    cursor: pointer;
    &:hover {
        background: $primary;
        color: $content-background-highlight-dark;
    }
}

@media (min-width: 991.98px) {
    #dropdown-about {
        background: $primary;
        border: none;
        color: $content-background;
        display: flex;         
        align-items: center;
    }  
}

#dropdown-menu {
    background: $primary;
}

#dropdown-menu-item {
    background: $primary;
    display: flex;         
    align-items: center;     
    color: $content-background;
    font-family: $font-montserrat;
    font-weight: 600;
}

#dropdown-menu-item:hover {
    background: $primary;
    color: $content-background-highlight-dark;
}

#search-icon   {
    color: $content-background;
    cursor: pointer;
}

#search-icon:hover {
    color: $content-background-highlight-dark;
}

#language-selector {
    cursor: pointer;
}

