<nav>
    <section class="laji-toolbar" [ngClass]="{'heightFix': fixedTop}">
        <div class="container">
            <a href="https://foorumi.laji.fi/">Vieraslajifoorumi</a>
            <a href="https://laji.fi">Suomen lajitietokeskus</a>
            <vrs-language-selector></vrs-language-selector>
        </div>
    </section>
    <section class="nav-top">
        <div class="container">
            <div class="header">
                <a class="header-link" routerLink="/">
                    <img class="vrs-logo-img vrs-logo" src="./assets/images/logos/vieraslaji-logo-160x160_cleaned.png">
                    <span class="heading">Vieraslajit.fi</span>
                </a>
            </div>
            <div class="login">
                <vrs-user-menu [loginUrl]="loginUrl"
                               [loggedIn]="loggedIn"
                               [personName]="userPropertiesWrapper().person.fullName"
                               (onLogout)="logout()"></vrs-user-menu>
            </div>
        </div>
    </section>
    <section class="nav-bottom" [ngClass]="{'fixed-top': fixedTop}">
        <div class="container">
            <vrs-omnisearch class="nav-omni"></vrs-omnisearch>
            <div class="nav-links">
                <a class="link" routerLink="/taxon" routerLinkActive="active" translate>navigation.taxonomy</a>
                <a class="link" routerLink="/news" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}" translate>navigation.news</a>
                <a class="link" routerLink="/viekas" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}" translate>navigation.viekas</a>
                <div class="dropdown link vrs-dropdown" dropdown>
                <a class="dropdown-toggle" translate>navigation.observations<span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" id="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item"
                        routerLink="/observations" translate>navigation.observations.map</a></li>
                    <li role="menuitem"><a class="dropdown-item"
                        routerLink="/form/JX.123757" translate>navigation.observations.report</a></li>
                </ul>
                </div>
                <div class="dropdown link vrs-dropdown" id="dropdown-about" dropdown>
                    <a class="dropdown-toggle" translate>navigation.about<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="container">
                            <div class="row">
                                <div *ngFor="let item of menu" class="col-3">
                                    <h5><a routerLink="/static/{{item.id}}">{{item.title}}</a></h5>
                                    <ng-container *ngIf="item.hasOwnProperty('children')"><a *ngFor="let child of item.children" routerLink="/static/{{child.id}}">{{child.title}}</a></ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</nav>
