<head>
    <title>Vieraslajit</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Vieraslajit</h1>
        <vrs-navbar></vrs-navbar>
        <div class="float-right">
            <p translate>SUBTITLE</p>
            <button (click)="switchLanguage('fi')">fi</button>
            <button (click)="switchLanguage('se')">se</button>
            <button (click)="switchLanguage('en')">en</button>
        </div>
        <router-outlet></router-outlet>
    </div>
    
    <footer
        ><vrs-footer></vrs-footer>
    </footer>
    
</body>