@import '../assets/styles/vars';

body {
    padding: 0px;
    color: $text-dark;
}

.vrs-content {
    background-color: $background-darker;
}

.container {
    background-color: $background-light;
}

.vrs-content {
    min-height: 600px;
    margin-top: $navbar-height;
}