<head>
    <title>Vieraslajit</title>
</head>
<body>
    <vrs-navbar></vrs-navbar>
    <p>Hae vieraslajeja</p>
    <vrs-omnisearch></vrs-omnisearch>
    
    <div class="container-fluid">
        <div class="float-right">
            <p translate>SUBTITLE</p>
            <button (click)="switchLanguage('fi')">fi</button>
            <button (click)="switchLanguage('se')">se</button>
            <button (click)="switchLanguage('en')">en</button>
        </div>
        <router-outlet></router-outlet>
    </div>
    
    
    <footer><vrs-footer></vrs-footer>
    </footer>
    
</body>