<ngx-datatable class="material"
                [rows]="taxa" [columnMode]="'force'" [columns]="columns"
                [headerHeight]="50" [rowHeight]="50" [reorderable]='true'
                [count]="taxa.length"
                [scrollbarV]="true"
                (activate)="onDatatableActivate($event)"
                infiniteScroll
                [infiniteScrollDistance]="0.1"
                [infiniteScrollThrottle]="1000"
                [infiniteScrollContainer]="'datatable-body'"
                [fromRoot]="true"
                (scrolled)="onScroll()"
                [messages]="{
                    emptyMessage: getEmptyMessage()
                }"
                >
               </ngx-datatable>

<ng-template let-value="value" ngx-datatable-cell-template #invasiveSpeciesEstablishment>
<span *ngIf="value">
    {{ value | metadatalabel: 'MX.invasiveSpeciesEstablishmentStatuses' | async }}
</span>
</ng-template>
