@import './../../../../assets/styles/datatable';

ngx-datatable {
    height: 100%;
    background: hsl(40, 15, 75) !important;
}

:host ::ng-deep {
    .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover, .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
        background-color: hsl(40, 15, 70);
    }
    .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
        color: $neutral-8;
    }
    .sort-btn {
        color: $neutral-7 !important;
        font-size: 1.2em;
    }
}