@import './../../../../assets/styles/datatable';

ngx-datatable {
    height: 100%;
    background: $neutral-3 !important;
}

:host ::ng-deep {
    .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover, .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
        background-color: $neutral-4;
    }
    .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
        color: $neutral-8;
    }
    .sort-btn {
        color: $neutral-7 !important;
        font-size: 1.2em;
    }
    .ngx-datatable.material .datatable-header .resize-handle {
        border-right: solid 1px $neutral-5;
    }
}