@import '../../../assets/styles/vars';
@import '~bootstrap/scss/bootstrap-grid';
@import '../../../assets/styles/wordpress';

:host ::ng-deep .static-content {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 2em;
        margin-bottom: 0.5em;
        &:first-child {
            margin-top: 0;
        }
    }
    table {
        font-size: 0.7rem;
        width: 1100px;
        margin-left: -150px;
    }
    td {
        padding: 0.5em;
    }
}

.static-content {
    max-width: 50rem;
/*     min-width: 35rem;
    max-width: 40rem;
    @media only screen and (max-width: 1500px) {
        max-width: 30rem;
        max-width: 35rem;
    }
    @include media-breakpoint-down(lg) {
        min-width: 20rem;
        max-width: 35rem;
        width: 100%;
    }
    @include media-breakpoint-down(md) {
        width: 100%;
        min-width: 20rem;
        max-width: 40rem;
    }
    @include media-breakpoint-down(sm) {
        width: 100%;
        min-width: 20rem;
        max-width: 35rem;
    }
    @include media-breakpoint-down(xs) {
        width: 100%;
        min-width: 15rem;
        max-width: 30rem;
    } */
}

.link {
    cursor: pointer;
}

:host ::ng-deep img {
    border-radius: 10px;
}

:host ::ng-deep iframe#viekas-calendar {
    @include media-breakpoint-down(xl) {
        width: 700px;
        height: 500px;
    }
    @include media-breakpoint-down(lg) {
        width: 600px;
        height: 400px;
    }
    @include media-breakpoint-down(md) {
        width: 500px;
        height: 300px;
    }
    @include media-breakpoint-down(sm) {
        width: 400px;
        height: 300px;
    }
    @include media-breakpoint-down(xs) {
        width: 300px;
        height: 300px;
    }
}

