@import '../../../assets/styles/vars';
@import '~bootstrap/scss/bootstrap-grid';
@import '../../../assets/styles/wordpress';

:host ::ng-deep .static-content {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 2em;
        margin-bottom: 0.5em;
        &:first-child {
            margin-top: 0;
        }
    }
    table {
        font-size: 0.7rem;
        width: 1100px;
        margin-left: -150px;
    }
    td {
        padding: 0.5em;
    }
}

.static-content {
    max-width: 50rem;
/*     min-width: 35rem;
    max-width: 40rem;
    @media only screen and (max-width: 1500px) {
        max-width: 30rem;
        max-width: 35rem;
    }
    @include media-breakpoint-down(lg) {
        min-width: 20rem;
        max-width: 35rem;
        width: 100%;
    }
    @include media-breakpoint-down(md) {
        width: 100%;
        min-width: 20rem;
        max-width: 40rem;
    }
    @include media-breakpoint-down(sm) {
        width: 100%;
        min-width: 20rem;
        max-width: 35rem;
    }
    @include media-breakpoint-down(xs) {
        width: 100%;
        min-width: 15rem;
        max-width: 30rem;
    } */
}

.link {
    cursor: pointer;
}

:host ::ng-deep img {
    border-radius: 10px;
}

:host ::ng-deep iframe#viekas-calendar {
    @include media-breakpoint-down(xl) {
        width: 700px;
        height: 500px;
    }
    @include media-breakpoint-down(lg) {
        width: 600px;
        height: 400px;
    }
    @include media-breakpoint-down(md) {
        width: 500px;
        height: 300px;
    }
    @include media-breakpoint-down(sm) {
        width: 400px;
        height: 300px;
    }
    @include media-breakpoint-down(xs) {
        width: 300px;
        height: 300px;
    }
}

:host ::ng-deep {
    img {
        max-width: 750px;
        height: auto;
        @include media-breakpoint-down(lg) {
            max-width: 600px;
        }
        @include media-breakpoint-down(md) {
            max-width: 450px;
        }
        @include media-breakpoint-down(sm) {
            max-width: 400px;
        }
        @include media-breakpoint-down(xs) {
            max-width: 300px;
        }
    }

    .wp-image-633 {
        max-width: 500px;
        margin-top: 1rem;
        @include media-breakpoint-down(lg) {
            max-width: 450px;
        }
        @include media-breakpoint-down(md) {
            max-width: 400px;
        }
        @include media-breakpoint-down(sm) {
            max-width: 350px;
        }
        @include media-breakpoint-down(xs) {
            max-width: 300px;
        }
    }

    .wp-image-566 {
        max-width: 100px !important;
    }

    .center-child {
        display:flex;
        flex-flow: row nowrap;
        justify-content: center;
        img {
            align-self: flex-end;
        }
    }

    .viekas-horizontal-flex {
        display: flex;
        flex-flow: row nowrap;
        margin: 10px 0;
        @include media-breakpoint-down(sm) {
            flex-flow: row wrap;
        }

        img {
            max-width: 247px;
            height: auto;
            align-self: flex-end;
        }
    }

    .viekas-vertical-flex {
        display: flex;
        flex-flow: column nowrap;
        @include media-breakpoint-down(sm) {
            flex-flow: column wrap;
        }
    }

    .viekas-step-by-step {
        h3 {
            margin-bottom: 2rem;
        }
        ol li {
            margin-bottom: 2rem;
        }
    }

    .some-logos {
        padding-left: 0;
        li {
            display: inline;
            margin-right: 10px;
        }
        img {
            max-height: 50px;
            max-width: 50px;
        }
    }

    .viekas-large-hr {
        margin: 2rem 0;
    }

    .vrs-guide-container {
        display: flex;
        flex-flow: row wrap;
    }

    .vrs-guide {
        flex: 1 0 50%;
        display: flex;
        flex-flow: column nowrap;
        font-size: 0.9rem;
        color: $neutral-7;
        padding-right: 25px;
        padding-bottom: 25px;
    }
}
