<div class="container my-3">

  <div class= "row">
  <ul id="navpills">
    <li class="navpill" id="navpillNews" (click)="onClick('vieraslajit.fi', 'navpillNews')" translate>news.news</li>
    <li class="navpill" id="navpillTechnical" (click)="onClick('technical', 'navpillTechnical')" translate>news.technical</li>
    <li class="navpill" id="navpillAll" (click)="onClick('vieraslajit.fi,technical', 'navpillAll')" translate>news.all</li>
  </ul>
</div>

  <div *ngFor="let newsElement of news" class="news-post my-3 mx-1">
    <div class="row news-header p-3">
      <div class="col-12 col-sm-4 text-center">
        <img class="news-thumbnail rounded" src="{{this.getImageToDisplay(newsElement)}}">
      </div>
      <div class="col-12 col-sm-8 row align-items-center">
        <div class="col news-header-text">
          <h2 class="news-title py-2 py-sm-0">{{newsElement.title}}</h2>
          <div class="text-muted p-0 p-sm-2">{{newsElement.posted | date: 'dd.MM.yyyy HH:MM' }} {{newsElement.author}}</div>
          <vrs-editcms class="float-right" id="{{newsElement.id}}"></vrs-editcms>
        </div>
     </div>
    </div>
    <div class="row news-content">
      <div class="col-12">
        <div class="px-1 py-3 p-sm-5">
          <p [innerHTML]="newsElement.content">Post content</p>
        </div>
        <div class="text-muted text-right news-modified p-2">
          <span *ngIf= "newsElement.modified">(<span translate>news.modified</span> </span> 
          {{newsElement.modified | date: 'dd.MM.yyyy HH:MM'}}
          <span *ngIf= "newsElement.modified">)</span>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="Pagination">
    <ul class="pagination" *ngIf="pages.length <= 7">
      <li class="page-item" *ngFor="let page of pages"><a class="page-link" (click)="getNews(page,currentTags)">{{page}}</a></li>
    </ul>

    <ul class="pagination" *ngIf="pages.length > 7">
      
      <ng-container *ngIf="data.currentPage < 5">
        <li class="page-item" *ngIf="data.currentPage < 5"><a class="page-link" (click)="getNews(1,currentTags)">1</a></li>
        <li class="page-item" *ngIf="data.currentPage < 5"><a class="page-link" (click)="getNews(2,currentTags)">2</a></li>
        <li class="page-item" *ngIf="data.currentPage < 5"><a class="page-link" (click)="getNews(3,currentTags)">3</a></li>
        <li class="page-item" *ngIf="data.currentPage < 5"><a class="page-link" (click)="getNews(4,currentTags)">4</a></li>
        <li class="page-item" *ngIf="data.currentPage < 5"><a class="page-link" (click)="getNews(5,currentTags)">5</a></li>
        <li class="page-item" *ngIf="data.currentPage < 5"><a class="page-link">...</a></li>
        <li class="page-item" *ngIf="data.currentPage < 5"><a class="page-link" (click)="getNews(data.lastPage,currentTags)">{{data.lastPage}}</a></li>    
      </ng-container>

      <ng-container *ngIf="data.currentPage >= 5 && data.currentPage <= data.lastPage - 4">
        <li class="page-item"><a class="page-link" (click)="getNews(1,currentTags)">1</a></li>
        <li class="page-item"><a class="page-link">...</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.currentPage - 1,currentTags)">{{data.currentPage - 1}}</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.currentPage,currentTags)">{{data.currentPage}}</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.currentPage + 1,currentTags)">{{data.currentPage + 1}}</a></li>
        <li class="page-item"><a class="page-link">...</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.lastPage,currentTags)">{{data.lastPage}}</a></li>    
      </ng-container>

      <ng-container *ngIf="data.currentPage > data.lastPage - 4">
        <li class="page-item"><a class="page-link" (click)="getNews(1,currentTags)">1</a></li>
        <li class="page-item"><a class="page-link">...</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.lastPage - 4,currentTags)">{{data.lastPage - 4}}</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.lastPage - 3,currentTags)">{{data.lastPage - 3}}</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.lastPage - 2,currentTags)">{{data.lastPage - 2}}</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.lastPage - 1,currentTags)">{{data.lastPage - 1}}</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.lastPage,currentTags)">{{data.lastPage}}</a></li>    
      </ng-container>
   </ul>
  </nav>

</div>