@import './../../assets/styles/vars.scss';
@import './../../../node_modules/bootstrap/scss/bootstrap-grid';

.news-post {
  
    padding-top:2%;
    //border: 1px solid $border-light;
    //background: $background-light;
    //border-radius: $content-border-radius;
    
}

.container {
    padding:2%;
}

.news-thumbnail {
    object-fit: scale-down;
    max-width: 100%;
}

.news-header {
    background: whitesmoke;
    border: 1px solid $border-light;
    border-top-left-radius: $content-border-radius;
    border-top-right-radius: $content-border-radius;
}

.news-header-text {
    text-align: center;

    @include media-breakpoint-up(sm) {
        text-align: start;
    }
}

.news-title {
    
}

.news-content {
    background: $background-light;
    border-left: 1px solid $border-light;
    border-bottom: 1px solid $border-light;
    border-right: 1px solid $border-light;
    border-bottom-left-radius: $content-border-radius;
    border-bottom-right-radius: $content-border-radius;
}

.news-modified {
    font-size: 14px;
}

#navpills{
    margin:0%;
    padding:0%;
}

.navpill {
    display: inline-block;
    min-width: 10px;
    margin-top: 8px;
    padding: 8px 15px;
    font-size: 14px;
    border-color: $primary;
    color: $primary;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    border-radius: 14px;
    border-style: solid;
    cursor: pointer;
}

.navpill:hover {
    background-color: $primary;
    color: $background-light;    
}

.active {
    background-color: $primary;
    color: $background-light;    
}