@import './../../assets/styles/vars.scss';
@import './../../../node_modules/bootstrap/scss/bootstrap-grid';

.news-component {
    font-size: 1.1rem;

    @include media-breakpoint-down(xs) {
        font-size: 1rem;
    }

    margin-top: $navbar-height;
    padding-bottom:2em;

    background: darken($background-light, 2);
}

.navpill-bg {
    padding-top: 2em;
    padding-bottom: 1em;    
}

.container {
    @include media-breakpoint-down(sm) {
        margin: 0em;
        padding: 0em;
        max-width: none;
    }
}

:host ::ng-deep .top-pagination {
    @include media-breakpoint-up(lg) {
        float: right;
    }

    ul.ngx-pagination {
        margin: 0em;
        margin-top: 6px;
    }
}

.news-container {
    .container {
    }
}

.news-spinner {
    display: block;
    margin-top: 5em;
    margin-bottom: 20em;
    padding: 5em;
}

.news-post {
    padding: 2em 4em;
    min-height: 50vh;
    @include media-breakpoint-down(md) {
        padding-left: 0em;
        padding-right: 1em;
    }
}

.news-content {
    padding-top: 3em;
    padding-bottom: 1em;
}

.news-modified {
    color: $text-dark-muted;
    font-style:italic;
}

#navpills {
    margin-bottom: 0;
}

.navpill {
    display: inline-block;
    font-size: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid #ccc;
    margin-right: 0.5em;

    background: $background-light;
    white-space: nowrap;
    text-align: center;
    border-radius: $content-border-radius;
    box-shadow: $container-shadow;
    cursor: pointer;
}

.navpill:hover {
    background-color: $primary;
    color: $background-light;    
}

.active {
    background-color: $primary;
    border-color: $primary;
    color: $background-light;
    transform: translateY(2px);
    box-shadow: 0px 0px 2px 0px #ccc;
}

:host ::ng-deep .ngx-pagination a {
    outline: none;
}

:host ::ng-deep .ngx-pagination {
    display: inline-block;
}

.pagination-controls {
    display: inline-block;
}

.pagination-controls-container {
    padding-top: 1em;
    padding-bottom: 1em;
}

:host ::ng-deep .pagination-controls ul.ngx-pagination {
    margin: 0;
}