<div class="container">

  <!--
  <ul class="nav nav-pills">
    <li class="navpill"><a href="#"> Kaikki </a></li>
    <li class="navpill" ><a href="#"> Uutiset </a></li>
    <li class="navpill"><a href="#"> Tekniset tiedotteet</a></li>
  </ul>-->

  <div class="row card-deck">
    <div *ngFor="let newsElement of news" class= "col-sm-12 col-lg-8">
      <div class= "card-block">
        <div class = "card" style= margin-bottom:30px>
            <img class="card-img-top img-fluid" src="{{this.getImageToDisplay(newsElement)}}" alt="News image">
            <div class="card-header text-muted">
                {{newsElement.posted | date: 'dd.MM.yyyy HH:MM' }} {{newsElement.author}}
                <span *ngIf= "newsElement.modified">(<span translate>news.modified</span> </span> 
                {{newsElement.modified | date: 'dd.MM.yyyy HH:MM'}}
                <span *ngIf= "newsElement.modified">)</span>
          </div>
            <div class="card-body">
                <h5 class="card-title">{{newsElement.title}}</h5>
                <p class = "card-text" [innerHTML]="newsElement.content"></p>
            </div>  
        </div>  
      </div>
    </div>
                                                      
  </div>


  <nav aria-label="Pagination">
    <ul class="pagination" *ngIf="pages.length <= 7">
      <li class="page-item" *ngFor="let page of pages"><a class="page-link" (click)="getNews(page)">{{page}}</a></li>
    </ul>

    <ul class="pagination" *ngIf="pages.length > 7">
      
      <ng-container *ngIf="data.currentPage < 5">
        <li class="page-item" *ngIf="data.currentPage < 5"><a class="page-link" (click)="getNews(1)">1</a></li>
        <li class="page-item" *ngIf="data.currentPage < 5"><a class="page-link" (click)="getNews(2)">2</a></li>
        <li class="page-item" *ngIf="data.currentPage < 5"><a class="page-link" (click)="getNews(3)">3</a></li>
        <li class="page-item" *ngIf="data.currentPage < 5"><a class="page-link" (click)="getNews(4)">4</a></li>
        <li class="page-item" *ngIf="data.currentPage < 5"><a class="page-link" (click)="getNews(5)">5</a></li>
        <li class="page-item" *ngIf="data.currentPage < 5"><a class="page-link">...</a></li>
        <li class="page-item" *ngIf="data.currentPage < 5"><a class="page-link" (click)="getNews(data.lastPage)">{{data.lastPage}}</a></li>    
      </ng-container>

      <ng-container *ngIf="data.currentPage >= 5 && data.currentPage <= data.lastPage - 4">
        <li class="page-item"><a class="page-link" (click)="getNews(1)">1</a></li>
        <li class="page-item"><a class="page-link">...</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.currentPage - 1)">{{data.currentPage - 1}}</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.currentPage)">{{data.currentPage}}</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.currentPage + 1)">{{data.currentPage + 1}}</a></li>
        <li class="page-item"><a class="page-link">...</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.lastPage)">{{data.lastPage}}</a></li>    
      </ng-container>

      <ng-container *ngIf="data.currentPage > data.lastPage - 4">
        <li class="page-item"><a class="page-link" (click)="getNews(1)">1</a></li>
        <li class="page-item"><a class="page-link">...</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.lastPage - 4)">{{data.lastPage - 4}}</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.lastPage - 3)">{{data.lastPage - 3}}</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.lastPage - 2)">{{data.lastPage - 2}}</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.lastPage - 1)">{{data.lastPage - 1}}</a></li>
        <li class="page-item"><a class="page-link" (click)="getNews(data.lastPage)">{{data.lastPage}}</a></li>    
      </ng-container>
   </ul>
  </nav>

</div>