@import './../../assets/styles/vars.scss';
@import './../../../node_modules/bootstrap/scss/bootstrap-grid';
@import './../../assets/styles/wordpress';

.news-component {
    font-size: 1.1rem;

    @include media-breakpoint-down(xs) {
        font-size: 1rem;
    }

    background: $neutral-3;

    margin-top: $navbar-height;
}

.navpill-bg {
    padding-top: 2em;
    padding-bottom: 1em;
}

.container {
    @include media-breakpoint-down(sm) {
        margin: 0em;
        padding: 0em;
        max-width: none;
    }
}

.news-container {
    background: $neutral-2;
    padding-bottom: 2em;
}

:host ::ng-deep .top-pagination {
    @include media-breakpoint-up(lg) {
        float: right;
    }

    ul.ngx-pagination {
        margin: 0em;
        margin-top: 6px;
    }
}

.news-container {
    .container {
    }
}

.news-spinner {
    display: block;
    margin-top: 5em;
    margin-bottom: 20em;
    padding: 5em;
}

.news-post {
    padding: 2em;
    @include media-breakpoint-down(md) {
        padding-left: 0em;
        padding-right: 1em;
    }
}

.news-content {
  padding: 1em 0em;
}

.news-modified {
    color: $neutral-6;
    font-style:italic;
}

#navpills {
    margin-bottom: 0;
}

.navpill {
    display: inline-block;
    font-size: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid #ccc;
    margin-right: 0.5em;

    background: $neutral-1;
    white-space: nowrap;
    text-align: center;
    border-radius: $content-border-radius;
    box-shadow: $container-shadow;
    cursor: pointer;

    .oi {
        padding-right: 0.5em;
    }
}

.navpill:hover {
    background-color: $accent-5;
    color: $accent-8;
}

.active {
    background-color: $accent-5;
    border-color: $accent-5;
    color: $accent-8;
    transform: translateY(2px);
    box-shadow: inset 0 0 10px 0 $accent-6;
}

:host ::ng-deep .ngx-pagination a {
    outline: none;
}

:host ::ng-deep .ngx-pagination {
    display: inline-block;
}

.pagination-controls {
    display: inline-block;
}

.pagination-controls-container {
    padding-top: 1em;
    padding-bottom: 1em;
}

:host ::ng-deep .pagination-controls ul.ngx-pagination {
    margin: 0;
}
