@import 'vars';

:host {
    display: inline-flex;
    border-radius: 12px;
}

:host ::ng-deep vrs-taxon-search {
    display: inline-block;
    width: unset;
}

:host ::ng-deep .autocomplete {
    max-width: 300px;
    input {
        height: 40px;
        border: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
}

#report-button {
    display: inline-flex;
    align-items: center;

    height: 40px;
    font-size: 0.9rem;
    color: $primary-1;
    background-color: $primary-6;
    border-radius: 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    padding: 0 20px;

    &.disabled {
        background-color: $primary-4;
        cursor: default;
        pointer-events: none;
        opacity: 0.8;
    }

    &:not(.disabled):hover {
        background-color: $primary-5;
    }
}
