<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2" style="background-color: #ECF0F1">
      <h1 translate>removal.h1
        <br>
        <small translate>removal.info</small>
      </h1>
      <div translate>removal.additionalInfo</div>
    </div>

    <div class="col-sm-8 col-md-9 col-lg-10">
      <div>
        <span translate>removal.byName</span>
        <a routerLink="/taxon" translate>removal.taxonIdentification</a>
      </div>
    </div>
  </div>
</div>