<div class="container">
  <div class= "row">
    <div class="col-sm-4 col-md-3 col-lg-2" style="background-color: #ECF0F1">
      <h1 >Torjunta<br>
          <small>Hae tietoa vieraslajien torjunnasta
          </small>
      </h1>
      <div >Tarkemmat torjuntaohjeet löytyvät lajin tietosivulta.
      </div>
    </div>

    <div class="col-sm-8 col-md-9 col-lg-10">
      <div >Hae lajia nimellä tai <a routerLink="/taxon">siirry lajitunnistukseen</a> kuvan perusteella.
      </div>
    </div>
  </div>
</div>

