@import '../../assets/styles/vars';

:host {
    display: inline-block;
    height: 100%;
    min-height: inherit;
    width: 100%;
}

.viekas-container {
    padding: 0 50px;
}

.sidebar {
    padding: 0;
    padding-top: 2em;
    a {
        position:relative;
        text-decoration: none;
        display: block;
        padding: 0.5em;
        margin: 0.5em 0;
        padding-left: 0.75em;
        color: hsl(40, 15, 35);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        &:hover {
            color: $neutral-8;
            background: $neutral-2;
        }
    }
    h5 {
        color: hsl(40, 15, 40);
        font-size: 0.8em;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.sidebar a.sidebar-active {
    cursor: default;
    background: $neutral-2;
    color: $neutral-8;
    z-index: 2;
    box-shadow: -10px 10px 25px -10px rgba(0, 0, 0, 0.075), -10px -10px 25px -10px rgba(1, 0, 0, 0.075);
}

.content {
    max-width: 1400px;
    position: relative;
    z-index: 1;
    padding: 2em;
    background: $neutral-2;
    margin-bottom: -50px;
    box-shadow: 2px 2px 50px rgba(#000, 0.125);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
