<div class="viekas-container">
  <div class="row">
    <div class="col-2 sidebar">
        <h5>Kansalaistoiminta</h5>
<!--         <a routerLink='./about' routerLinkActive='sidebar-active' translate>viekas.nav.about</a>
        <a routerLink='./eradication' routerLinkActive='sidebar-active' translate>viekas.nav.eradication</a>
        <a routerLink='./volunteer' routerLinkActive='sidebar-active' translate>viekas.nav.volunteer</a>
        <a routerLink='./calendar' routerLinkActive='sidebar-active' translate>viekas.nav.calendar</a>
        <a routerLink='./education' routerLinkActive='sidebar-active' translate>viekas.nav.education</a>
        <a routerLink='./legal' routerLinkActive='sidebar-active' translate>viekas.nav.legal</a> -->
        <a [routerLink]="['../', rootId]" routerLinkActive='sidebar-active'>{{cmsData.title}}</a>
        <a *ngFor="let page of cmsData.children" [routerLink]="['../', page.id]" routerLinkActive='sidebar-active'>{{page.title}}</a>
    </div>
    <div class="col-10 content">
      <vrs-viekas-static [id]="id"></vrs-viekas-static>
    </div>
  </div>
</div>
