<div class="container-fluid">
  <div class="row">
    <div class="col-2 sidebar">
      <ul>
        <li><a routerLink='./'>Kansalaistoiminta</a></li>
        <li><a routerLink='./eradication'>Yleisiä torjuntaohjeita</a></li>
        <li><a routerLink='./volunteer'>Vapaaehtoistyö</a></li>
        <li><a routerLink='./calendar'>Kalenteri</a></li>
        <li><a routerLink='./education'>Opetustyö</a></li>
        <li><a routerLink='./legal'>Yritykset ja kunnat</a></li>
      </ul>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
