<div class="container">
  <div class="row">
    <div class="col-2 sidebar">
        <h5>Kansalaistoiminta</h5>
        <a routerLink='./about' routerLinkActive='sidebar-active' translate>viekas.nav.about</a>
        <a routerLink='./eradication' routerLinkActive='sidebar-active' translate>viekas.nav.eradication</a>
        <a routerLink='./volunteer' routerLinkActive='sidebar-active' translate>viekas.nav.volunteer</a>
        <a routerLink='./calendar' routerLinkActive='sidebar-active' translate>viekas.nav.calendar</a>
        <a routerLink='./education' routerLinkActive='sidebar-active' translate>viekas.nav.education</a>
        <a routerLink='./legal' routerLinkActive='sidebar-active' translate>viekas.nav.legal</a>
    </div>
    <div class="col-10 content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
