<nav class="fixed-top" [ngClass]="{'nav-expand': !collapse}">
    <div class="container-fluid">
        <vrs-omnisearch></vrs-omnisearch>
        <a class="hamburger" (click)="onCollapse()"><span class="oi oi-menu"></span></a>
    </div>
    <div class="container" *ngIf="!collapse">
        <div class="translation-base" [ngClass]="{'translate-left': translateLeft}">
            <div class="nav-links">
                <a class="link" routerLink="/" routerLinkActive="active" translate>navigation.home</a>
                <a class="link" routerLink="/lajit" routerLinkActive="active" translate>navigation.taxonomy</a>
                <a class="link" routerLink="/ajankohtaista" routerLinkActive="active" translate>navigation.news</a>
                <a class="link" routerLink="/kansalaistoiminta" routerLinkActive="active" translate>navigation.viekas</a>
                <a (click)="translateLeft = !translateLeft; observations = true" class="link" translate>navigation.observations <span class="oi oi-caret-right"></span></a>
<!--                 <a (click)="translateLeft = !translateLeft; about = true" class="link" translate>navigation.about <span class="oi oi-caret-right"></span></a> -->
            </div>
            <div *ngIf="observations" class="nav-links submenu">
                <a class="link" (click)="translateLeft = !translateLeft; toggleObservations()"><span class="oi oi-caret-left"></span> {{'navigation.back' | translate}}</a>
                <a class="link" routerLink="/havainnot" routerLinkActive="active" translate>navigation.observations.map</a>
                <a class="link" routerLink="/ilmoita" routerLinkActive="active" translate>navigation.observations.report</a>
            </div>
            <div *ngIf="about" class="nav-links submenu">
                <a class="link" (click)="translateLeft = !translateLeft; toggleAbout()"><span class="oi oi-caret-left"></span> {{'navigation.back' | translate}}</a>
                <a *ngFor="let child of aboutMenu" class="link"
                    routerLink="info/{{child.id}}">{{child.title}}</a>
            </div>
        </div>
        <div class="user-menu">
            <hr>
            <h5 *ngIf="getLoggedIn()">{{getUserProps().person.fullName}}</h5>
            <a *ngIf="getLoggedIn()" (click)="logout()" class="link" translate>navigation.logout</a>
            <a *ngIf="!getLoggedIn()" class="link" href="{{loginUrl}}" translate>navigation.login</a>
        </div>
    </div>
</nav>
