@import '../../../../assets/styles/vars';
@import '~bootstrap/scss/bootstrap-grid';

nav {
    box-shadow: 0 0 10px 0 $neutral-9;
    background: $primary-7;
    color: $neutral-2;
    font-family: $font-heading;
    user-select: none;
}

.nav-expand {
    background: rgba($primary-7, 0.9);
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.container {
    position: relative;
    padding: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.nav-links {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    font-size: 1.5em;
    .link {
        cursor: pointer;
        display: block;
        color: $neutral-2;
        margin: 1em;
        &:hover {
            color: $accent-5;
        }
        .oi {
            font-size: 0.5em;
            top: -1px;
        }
        .oi-caret-left {
            margin-left: -0.5em;
        }
        .oi-caret-right{
            margin-right: -0.5em;
        }
    }
}

.user-menu {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 15vh;
    hr {
        width: 75%;
        border-color: $neutral-4;
    }
    h5 {
        color: $primary-4;
        font-size: 1em;
        font-weight: 600;
        text-transform: uppercase;
    }
    a {
        font-size: 1.5em;
        margin: 0.5em;
        color: $primary-2;
        cursor: pointer;
        &:hover {
            color: $accent-5;
        }
    }
}

.translate-left {
    transform: translateX(-100vw);
    transition-duration: 500ms;
}

.translation-base {
    transition: transform 500ms ease-out;
}

.submenu {
    left: 100vw;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
}

:host ::ng-deep nav .omni-search {
    font-size: 1rem;
}

a.hamburger {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    &:hover {
        color: $accent-5;
    }
    span {
        font-size: 1.4em;
        padding-bottom: 0.1em;
    }
}

:host ::ng-deep span.oi-magnifying-glass {
    top: 1.3em;
    left: 1.3em;
}

:host ::ng-deep vrs-language-selector .language-selector {
    color: $primary-4;
}