@import '../../../assets/styles/vars';
@import '~bootstrap/scss/bootstrap-grid';

:host {
    max-width: 400px;
}

h5 {
    color: $neutral-6;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.active {
    color: $neutral-8;
    background: rgba(#000, 0.05);
    margin-left: -5px;
    padding: 1px 5px;
    border-radius: 5px;
}

.level-0 {

}

.level-n {
    margin-left: 0.5em;
    padding-left: 0.5em;
    border-left: 2px dashed rgba(#000, 0.1);
}

a {
    color: $neutral-6;
    white-space: nowrap;
    &:hover {
        color: $neutral-8;
        text-shadow: 0 0 1px rgba(#000, 0.3);
    }
}

a {
    font-weight: 400;
}