@import '../../../assets/styles/vars';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import '../../../assets/styles/carousel';

h1 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

:host ::ng-deep carousel .card-slide.slide.carousel-item {
    background-color: black;
}

.card {
    border: none;
    box-shadow: 0px 0px 50px 10px rgba(#000, 0.2);

    .selected-taxon-header {
        background: black;
        color: $neutral-1;
    }
    .comparison-taxon-header {
        background: black;
        color: $neutral-1;
    }
}