@import '../../../assets/styles/vars';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

#taxonh1 {
    padding: 25px;
}
#taxoncard {
    margin-top: 10px;
    border: none;
}

#taxoncard-right {
    margin-top: 10px;
}

.cardAccordion{
    background-color: #2C3539 !important;
    color: white; 
}

#accordion:hover {
    color: $primary;
    cursor: pointer;
}
.cursive {
    font-style: oblique;
}

#comparison {
    width: 100%;
    color: white;
}

#report {
    width: 100%;
}