@import '../../../assets/styles/vars';
@import '../../../assets/styles/carousel';

:host {
    background: $neutral-2;
}

.container {
    position: relative;
    z-index: 1;
    background: $neutral-2;
    padding: 0 50px;
    margin-bottom: -50px;
    box-shadow: 2px 2px 25px rgba(#000, 0.3);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.left-container {
    padding-right: 50px;
}

.head {
    padding-top: 2em;
    padding-bottom: 1em;

    button {
        height: 50px;
        margin-top: 0.5em;
        margin-left: 1em;
    }
    h5 {
        font-size: 1.2em;
        color: $neutral-6;
        font-weight: 400;
    }
}

.cursive {
    font-style: oblique;
}

:host ::ng-deep carousel .card-slide.slide.carousel-item {
    background-color: black;
    border-top-right-radius: $content-border-radius;
    border-top-left-radius: $content-border-radius;
}

.taxon-info-card {
    background: $neutral-1;
    box-shadow: 0px 2px 35px rgba(#000, 0.1);
}

.taxon-info {
    padding: 1em;
}

.taxon-card-map {
    padding-top: 2em;
    button {
        margin-top: 1em;
    }
}

.laji-fi-link {
    color: $neutral-6;
    &:hover {
        color: $neutral-7;
        border-bottom: 2px solid $accent-5;
    }
}

#taxoncard {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0.5em;
    }
}