<div class="container-fluid">
  <h1>{{taxon?.vernacularName}}
    <span [class.cursive]="taxon?.cursiveName">({{taxon?.scientificName}})</span>
  </h1>
  <div class="row">
    <div class="col-sm-6">
      <div class="card" *ngFor="let group of desc$?.groups">
        <div class="card-header" role="tab">
          <strong>{{group.title}}</strong>
        </div>
        <div class="card-block" *ngFor="let variable of group.variables">
          <h4 class="card-title">
            {{variable.title}}
          </h4>
          <span class="card-text" [innerHTML]="variable.content"></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Kuvat</strong>
        </div>
        <div class="card-block">
          <ng-container *ngFor="let image of media$">
            <a href="{{image.fullURL}}"><img src="{{image.thumbnailURL}}" style="padding: 2px"/></a>
          </ng-container>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <strong>Tietokortti</strong>
        </div>
        <div class="card-block">
          <div>
          <strong>Nimi</strong>
          {{taxon?.vernacularName}}
          </div>
          <div>
            <strong>Tieteellinen nimi</strong>
            <em>{{taxon?.scientificName}}</em>
          </div>
          <div>
            <strong>Lisätietoa lajit.fi-sivustolla</strong>
            <a href="http://tun.fi/{{id}}">http://tun.fi/{{id}}</a>
          </div>
          <div>
            <strong>Hallinnolliset ominaisuudet (administrativeStatuses) </strong>
            <ul>
              <li *ngFor="let status of taxon?.administrativeStatuses">{{status}}</li>
            </ul>
          </div>
          <div>
            <strong>Vakiintunut Suomeen</strong> (stableInFinland)
            {{taxon?.stableInFinland == true ? 'Kyllä' : 'Ei' }}
          </div>
          <div>
            <strong>Vakiintuneisuus</strong> (occurrenceInFinland)
            {{taxon?.occurrenceInFinland}}
          </div>
          <div>
            <strong>Vaarallinen kasvintuhoaja</strong>
            {{quarantinePlantPest == true ? 'Kyllä' : 'Ei' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
