<laji-spinner [spinning]="loading" [overlay]="true">
  <ng-container *ngIf=!loading>
<div [collapse]="comparison" class="container-fluid">
  <div class="row head"> 
    <h1>
      {{taxon?.vernacularName}}
      <span *ngIf="taxon?.vernacularName">&ndash;</span>
      <span [class.cursive]="taxon?.cursiveName">{{taxon?.scientificName}}</span>
      <img src="assets/images/logos/vieraslaji-logo-70x70.png" width="40" height="40" alt="">
    </h1>
    <button class="btn btn-dark btn-sm" (click)="comparisonView()" translate>comparison.title</button>
  </div>
 
  <div class="row">
    <div class="col-sm-6">
      <div *ngIf="desc?.groups; else infoAndLajifiTemplate">
        <div class="card" *ngFor="let group of desc?.groups; let first = first">
          <accordion>
              <accordion-group  heading = {{group.title}} [panelClass]="cardAccordion" [isOpen]="first" >
                <div class="card-block" *ngFor="let variable of group.variables">
                  <h4 class="card-title">
                    {{variable.title}}
                  </h4>
                  <span class="card-text" [innerHTML]="variable.content"></span>
                </div>
              </accordion-group>
          </accordion>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <ng-container *ngIf="media != null && media.length > 0">
        <div class="card">
          <div class="card-header">
            <strong translate>taxon.pictures</strong>
          </div>
          <div class="card-block">
            <ng-container *ngFor="let image of media">
              <a href="{{image.fullURL}}">
                <img src="{{image.thumbnailURL}}" style="padding: 2px" />
              </a>
            </ng-container>
          </div>
        </div>
      </ng-container>

      <div *ngIf="desc?.groups; then infoAndLajifiTemplate"> </div>
    </div>

    <ng-template #infoAndLajifiTemplate>
      <div class="card">
        <div class="card-header">
          <strong translate>taxon.card</strong>
        </div>
        <div class="card-block">
          <div>
            <strong translate>taxon.name</strong>
            {{taxon?.vernacularName}}
          </div>
          <div>
            <strong translate>taxon.scientific</strong>
            <em>{{taxon?.scientificName}}</em>
          </div>
          <div>
            <strong translate>taxon.establishedFin</strong>
            <span translate>{{taxon?.stableInFinland == true ? 'taxonomy.yes' : 'taxonomy.no' }}</span>
          </div>
          <div>
            <strong translate>taxon.occurrence</strong>
            <span>{{(taxon?.occurrenceInFinland | label: 'MX.occurrenceInFinlandEnum' | async) || 'taxon.unknown' | translate }}
            </span>
          </div>
          <div>
            <strong translate>taxonomy.quarantinePlantPest</strong>
            <span translate>{{quarantinePlantPest == true ? 'taxonomy.yes' : 'taxonomy.no' }}</span>
          </div>
          <hr/>
          <ng-container *ngIf="taxon?.administrativeStatuses">
            <div>
              <!-- <strong translate>taxon.administrative</strong> -->
              <ul>
                <li *ngFor="let status of taxon.administrativeStatuses">
                  {{status | label: 'MX.adminStatusEnum' | async}}
                </li>
              </ul>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a href="http://tun.fi/{{id}}" target="_blank">
            <img src="https://laji.fi/static/images/icons/favicon.ico" style="margin-Top:-3px" alt="laji.fi">
          </a>
          <strong translate>Laji.fi</strong>
        </div>
        <div class="card-block">
          <span translate>taxon.lajiFi</span>
          <a href="http://tun.fi/{{id}}" target="_blank">http://tun.fi/{{id}}</a>
        </div>
      </div>
  
    </ng-template>
  </div>
</div>
<div *ngIf="comparison && taxon && media">
  <button class="btn btn-primary" (click)="comparisonView()" translate>comparison.card</button>
  <vrs-taxon-comparison [taxon]="taxon" [media]="media[0]"></vrs-taxon-comparison>
</div>
</ng-container>
</laji-spinner>