@import '../../../assets/styles/vars';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

#taxonh1 {
    padding: 25px;
}
#taxoncard {
    margin-top: 10px;
    border: none;
}

#taxoncard-right {
    margin-top: 10px;
}

.cursive {
    font-style: oblique;
}

#comparison {
    width: 100%;
    color: white;
}

#report {
    width: 100%;
}

.card-slide.slide {
    height: 500px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    :hover {
        cursor: pointer;
    }
}

.card-slide .item img {
    max-height: 100%;  
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.right.carousel-control:hover {
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.5));
    cursor: pointer;
}

.left.carousel-control:hover {
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.5));
    cursor: pointer;
}

.carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px black;
}

.carousel-indicators:hover {
    cursor: pointer;
}

.carousel-indicators .active {
    background-color: $primary;
}

.carousel-control-next-icon {
    background-image: none;
}
.carousel-control-next-icon:before {
    @extend %glyphicon;
    @extend %glyphicon-chevron-right:before;
    color: rgba(255,255,255,0.5);
}

.carousel-control-prev-icon {
    background-image: none;
}
.carousel-control-prev-icon:before {
    @extend %glyphicon;
    @extend %glyphicon-chevron-left:before;
    color: rgba(255,255,255,0.5);
}

.modal-image {
    width: 100%;
    height: 100%;
}

/* Glyphicons */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../../../assets/styles/CustomBootstrap3/fonts/glyphicons-halflings-regular.eot');
    src: url('../../../assets/styles/CustomBootstrap3/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../../assets/styles/CustomBootstrap3/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../../../assets/styles/CustomBootstrap3/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../../assets/styles/CustomBootstrap3/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../../assets/styles/CustomBootstrap3/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }
  %glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  %glyphicon-chevron-left:before {
    content: "\e079";
  }
  %glyphicon-chevron-right:before {
    content: "\e080";
  }