<div class="obs-map">
<div class="row pb-2" *ngIf="ownModeSelectorEnabled || municipalitySelectEnabled || taxonSearchEnabled">
<div class="col-12 col-sm-7 pl-4">
  <div *ngIf="isLoggedIn && ownModeSelectorEnabled" class="form-check vrs-map-checkbox">
    <input class="form-check-input" type="checkbox" value="" id="ownCheck" [checked]="ownModeEnabled" (change)="ownModeEnabled = !ownModeEnabled; ownModeChange()">
    <label class="form-check-label" for="ownCheck">
      Vain omat havainnot
    </label>
  </div>
  <div class="row" *ngIf="municipalitySelectEnabled">
    <div class="col-12 col-sm-4"><div class="input-group">
        <select id="select-municipality" class="custom-select">
          <option value="">Kunta...</option>
          <option *ngFor="let mun of municipalities" value="{{mun.id}}">{{mun.name}}</option>
        </select>
      </div></div>
    <div class="col-12 col-sm-8" *ngIf="taxonSearchEnabled"><vrs-taxon-search></vrs-taxon-search></div>
  </div>
</div> <!-- col-7 -->
<div *ngIf="selectedInfo" class="col-12 col-sm-5">
  <div class="row">
    <div class="col-3 selected-observation-left">
      Havainto
    </div>
    <div class="col-12 col-sm-9">
      <a [routerLink]="['/taxon/' + selectedInfo.id]">{{selectedInfo.taxonVerbatim.charAt(0).toUpperCase() + selectedInfo.taxonVerbatim.substr(1)}} (<i>{{selectedInfo.scientificName}}</i>)</a>
      <br>
      {{selectedInfo.team}} {{selectedInfo.municipalityDisplayname}} {{selectedInfo.displayDateTime}}
    </div>
  </div>
</div> <!-- col-5 -->
</div> <!-- row -->
<!-- Render list if list-mode enabled -->
<ng-container *ngIf="listEnabled">
<div class="row">
    <div class="col-12 col-sm-7 col-map">
        <div id="map" [ngStyle]="{'height': mapHeight+'px'}"></div>
    </div>
    <div class="col-12 col-sm-5 col-list">
      <vrs-obs-map-list height="{{mapHeight}}"></vrs-obs-map-list>
    </div>
</div>
</ng-container>
<ng-container *ngIf="!listEnabled">
    <div id="map" [ngStyle]="{'height': mapHeight+'px'}"></div>
</ng-container>
</div>