@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '../../../../assets/styles/datatable';
@import '~bootstrap/scss/bootstrap-grid';

#map {
  height: 400px;
}

.col-map {
  @include media-breakpoint-up (sm) {
    padding-right: 0px;
  }
}

.col-list {
  @include media-breakpoint-up (sm) {
    padding-left: 0px;
  }
}

p {
    padding: 15px;
}

:host ::ng-deep .col-list .ngx-datatable {
  border-radius: 0px;
  font-size: 1rem;
}

:host ::ng-deep .datatable-body-cell {
  cursor: pointer;
}

:host ::ng-deep .ngx-datatable.material {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.vrs-map-checkbox {
  display: inline-block;
  padding: 0.5em;
  margin-left: 1em;
}

.selected-observation-left {
  border-right: 1px solid #ccc;
  color: $neutral-6;
  @include media-breakpoint-down(xs) {
    display:none;
  }
}

.hidden {
    display:none;
}

.observation-count {
    margin-top: 2em;
    b {
        font-size: 1.5em;
    }
}

.selected-info a {
  color: $neutral-6;
  font-weight: 600;
}

a.laji-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: $neutral-6;
  z-index: 400;
  background: rgba($neutral-1, 0.5);
  padding: 5px;
}





.map-container {
  position: relative;
}

vrs-map-filters {
  position: absolute;
  top: 75px;
  left: 50px;
  z-index: 400;
  @include media-breakpoint-down(xs) {
    top: 50px;
    left: 10px;
  }
}

.right-float-menu {
  position: absolute;
  top: 50px;
  right: 50px;
  background: $neutral-1;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(#000, 0.3);
  padding: 20px;
  width: 500px;
  z-index: 400;
  @include media-breakpoint-down(md) {
    top: 70px;
    right: 0;
    left: 2.5vw;
    width: 95vw;
  }
  @include media-breakpoint-down(xs) {
    top: 50px;
  }
}

:host ::ng-deep {
  .leaflet-rrose-content-wrapper {
    background: rgba(#333, 0.8);
  }
  .leaflet-rrose-tip.leaflet-rrose-tip-n {
    background: rgba(#333,0.8);
  }
  .leaflet-rrose-content {
    width: 200px;
    color: $neutral-2;
    font-size: 0.8rem;
    .popup-link-row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      .oi {
        color: $neutral-2;
        cursor: pointer;
      }
      .oi-eye {
        margin-right: 10px;
      }
      .oi-info {
        margin-right: 13px;
      }
    }
    h5 {
      color: $neutral-4;
      margin: 0;
      font-size: 1em;
    }
    hr {
      margin: 10px 0;
      border-color: rgba(white, 0.1);
    }
  }
  .leaflet-rrose.leaflet-zoom-animated {
    bottom: 15px !important;
  }
}

#view-buttons {
  position: absolute;
  top: 25px;
  left: 50px;
  z-index: 400;
  @include media-breakpoint-down(xs) {
    left: 10px;
    top: 10px;
  }
  button {
    background: $neutral-2;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    color: $neutral-7;
    box-shadow: 0 1px 3px 0 rgba(black, 0.3), inset 0 1px 3px 0 rgba(black, 0);
    margin-right: 10px;
    &.active {
      color: $neutral-6;
      background: $neutral-3;
      box-shadow: 0 1px 3px 0 rgba(black, 0), inset 0 1px 3px 0 rgba(black, 0.3);
    }
    &:focus {
      outline: unset;
    }
  }
}