@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

#map {
  height: 400px;
}

p {
    padding: 15px;
}

:host ::ng-deep .datatable-body-cell {
  cursor: pointer;
}

:host ::ng-deep .ngx-datatable.material {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.vrs-map-checkbox {
  display: inline-block;
  padding: 0.5em;
  margin-left: 1em;
}