@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '../../../../assets/styles/datatable';
@import '~bootstrap/scss/bootstrap-grid';

#map {
  height: 400px;
}

#select-municipality {
  box-shadow: inset 0 2px 2px 0 #999;
}

.col-map {
  @include media-breakpoint-up (sm) {
    padding-right: 0px;
  }
}

.col-list {
  @include media-breakpoint-up (sm) {
    padding-left: 0px;
  }
}

p {
    padding: 15px;
}

:host ::ng-deep .col-list .ngx-datatable {
  border-radius: 0px;
  font-size: 1rem;
}

:host ::ng-deep .datatable-body-cell {
  cursor: pointer;
}

:host ::ng-deep .ngx-datatable.material {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.vrs-map-checkbox {
  display: inline-block;
  padding: 0.5em;
  margin-left: 1em;
}

.selected-observation-left {
  border-right: 1px solid #ccc;
  color: $neutral-6;
  @include media-breakpoint-down(xs) {
    display:none;
  }
}

.hidden {
    display:none;
}

.observation-count {
    margin-top: 2em;
    b {
        font-size: 1.5em;
    }
}

.selected-info a {
  color: $neutral-6;
  font-weight: 600;
}

a.laji-link {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: $neutral-6;
}

.checkbox {
  display: inline-block;
  margin-left: 20px;
  label {
    padding: 0 15px;
  }
}




.map-container {
  position: relative;
}

.left-float-menu {
  position: absolute;
  top: 50px;
  left: 50px;
  background: $neutral-1;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(#000, 0.3);
  padding: 20px;
  width: 400px;
  z-index: 400;
}

.right-float-menu {
  position: absolute;
  top: 50px;
  right: 50px;
  background: $neutral-1;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(#000, 0.3);
  padding: 20px;
  width: 500px;
  z-index: 400;
}

:host ::ng-deep {
  .leaflet-rrose-content-wrapper {
    background: rgba(#333, 0.8);
  }
  .leaflet-rrose-tip.leaflet-rrose-tip-n {
    background: rgba(#333,0.8);
  }
  .leaflet-rrose-content {
    width: 200px;
    color: $neutral-2;
    font-size: 0.8rem;
    .popup-link-row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      .oi {
        color: $neutral-2;
        cursor: pointer;
      }
      .oi-eye {
        margin-right: 10px;
      }
      .oi-info {
        margin-right: 13px;
      }
    }
    h5 {
      color: $neutral-4;
      margin: 0;
      font-size: 1em;
    }
    hr {
      margin: 10px 0;
      border-color: rgba(white, 0.1);
    }
  }
  .leaflet-rrose.leaflet-zoom-animated {
    bottom: 15px !important;
  }
}