<div class="row">
<div class="col-7">
  <div class="input-group mb-3">
    <select id="select-municipality">
      <option value="all">Municipality...</option>
      <option *ngFor="let mun of municipalities" value="{{mun}}">{{mun}}</option>
    </select>
  </div>
  <vrs-taxon-search></vrs-taxon-search>
  <div *ngIf="isAdmin">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="adminCheck" [checked]="adminMode" (change)="adminMode = !adminMode; adminModeChange()">
        <label class="form-check-label" for="adminCheck">
          Admin mode
        </label>
      </div>
  </div>
  <div *ngIf="isLoggedIn">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="ownCheck" [checked]="ownMode" (change)="ownMode = !ownMode; ownModeChange()">
        <label class="form-check-label" for="ownCheck">
          Omat havainnot
        </label>
      </div>
  </div>
</div> <!-- col-7 -->
<div class="col-5">
  <ng-container *ngIf="selectedInfo">
      <a [routerLink]="['/taxon/' + selectedInfo.id]">{{selectedInfo.taxonVerbatim}}</a>,
      {{selectedInfo.team}},
      {{selectedInfo.scientificName}},
      {{selectedInfo.municipalityDisplayname}},
      {{selectedInfo.displayDateTime}}
  </ng-container>
</div> <!-- col-5 -->
</div> <!-- row -->
<!-- Render list if list-mode enabled -->
<ng-container *ngIf="list">
<div class="row">
    <div class="col-7">
        <div id="map" [ngStyle]="{'height': mapHeight+'px'}"></div>
    </div>
    <div class="col-5">
      <vrs-obs-map-list height="{{mapHeight}}"></vrs-obs-map-list>
    </div>
</div>
</ng-container>
<ng-container *ngIf="!list">
    <div id="map" [ngStyle]="{'height': mapHeight+'px'}"></div>
</ng-container>


<!--<p>
  <span translate>mapOfObservations.info</span>
  <a href="https://laji.fi/observation/map?target={{id}}" target="_blank">  <span translate>mapOfObservations.link</span></a>
</p>-->
