/* Järjestyksellä väliä */
@import './assets/styles/vars';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import '../node_modules/open-iconic/font/css/open-iconic-bootstrap.css';
@import '../node_modules/laji-form/dist/styles.css';

@import './assets/styles/card';
@import './assets/styles/tabset.scss';
@import './assets/styles/buttons.scss';


html, body {
    width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: $font-family-base;
    background: $background-darker;

    font-size: 16px;

    @include media-breakpoint-up(xs) { 
        font-size: 15px;
    }
    @include media-breakpoint-up(sm) { 
        font-size: 16px;
    }
    @include media-breakpoint-up(md) { 
        font-size: 17px;
    }
    @include media-breakpoint-up(lg) { 
        font-size: 18px;
    }
}

.laji-map {
    width: 100%;
    height: 100%;
  }

.laji-form .laji-form-map-container, .laji-form .popover {
    z-index: 0;
  }
  
  .laji-form .blocking-loader {
      z-index: 2;
  }

.vrs-logo-img {
    content:url(./assets/images/logos/vieraslaji-logo-160x160_cleaned.png);
}

/* ngx-pagination */

.ngx-pagination {
    li.current {
        background: $primary;
    }
}