/* J채rjestyksell채 v채li채 */
@import './assets/styles/vars';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import '../node_modules/open-iconic/font/css/open-iconic-bootstrap.css';
@import '../node_modules/laji-form/dist/styles.css';

@import './assets/styles/card';
@import './assets/styles/tabset.scss';
@import './assets/styles/buttons.scss';

@import './assets/styles/CustomBootstrap3/precompiled/precompiled.css';

html, body {
    width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: $font-family-base;
    background: $neutral-3;

    color: $neutral-7;

    font-size: 16px;

    @include media-breakpoint-up(xs) {
        font-size: 14px;
    }
    @include media-breakpoint-up(sm) {
        font-size: 16px;
    }
    @include media-breakpoint-up(md) {
        font-size: 18px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 19px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 20px;
    }
}

h1, h2, h3, h4, h5 {
    font-family: $font-heading;
    color: $neutral-8;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

.raised-1 {
    box-shadow: 1px 1px 5px -1px #999;
}

.raised-5 {
    box-shadow: 0px 0px 50px -10px #999;
}

.laji-map {
    width: 100%;
    height: 100%;
  }

.laji-form .laji-form-map-container, .laji-form .popover {
    z-index: 0;
  }

  .laji-form .blocking-loader {
      z-index: 2;
  }

/* ngx-pagination */

.ngx-pagination {
    li.current {
        background: $accent-5;
    }
}
