@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

//-----------------//
// DEPRECATED VARS //
//-----------------//

$alert: rgb(231, 169, 169);
$alert-dark: rgb(204, 118, 118);

$content-border-radius: 12px;

$container-shadow: 2px 2px 2px 0px #ccc;
$inset-box-shadow: inset 0 2px 4px 0 #999;

$navbar-height: 0px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

//-----------------//
// REFACTORED VARS //
//-----------------//

// COLOR PALETTE
// https://refactoringui.com/previews/building-your-color-palette/
// TODO: ONLY use these colors in the app

$primary-1: hsl(120, 50, 95);
$primary-2: hsl(129, 30, 91);
$primary-3: hsl(120, 20, 71);
$primary-4: hsl(127, 13, 61);
$primary-5: hsl(120, 15, 51);
$primary-6: hsl(118, 20, 41);
$primary-7: hsl(133, 30, 31);
$primary-8: hsl(130, 60, 20);
$primary-9: hsl(130, 80, 10);

$accent-1: #fff6e5;
$accent-2: #ffdb99;
$accent-3: #ffc966;
$accent-4: #ffb732;
$accent-5: #FFA500;
$accent-6: #cc8400;
$accent-7: #996300;
$accent-8: #664200;
$accent-9: #332100;

$neutral-1: hsl(40, 12%, 97%);
$neutral-2: hsl(43, 10%, 95%);
$neutral-3: hsl(40, 8%, 91%);
$neutral-4: hsl(39, 4%, 85%);
$neutral-5: hsl(41, 2%, 61%);
$neutral-6: hsl(41, 4%, 48%);
$neutral-7: hsl(41, 7%, 35%);
$neutral-8: hsl(40, 9%, 23%);
$neutral-9: hsl(42, 12%, 13%);

// FONTS

$font-family-base: 'Libre Franklin';
$font-heading: 'Montserrat';
$font-accent: 'Sans-Serif';
