/* Overwrite bootstrap theme colors */
/*
$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;
*/

// orange: #f89525
// dark-orange: #f78706

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');


//$primary-light: #f7a951;
$primary: #f89525;

$navbar-background: #222;
$navbar-background-hover:#F87217;
$navbar-dropdown:#F87217; 

//$back-background: #eee;
$content-background: #fefefe;
$content-background-highlight: #d7efef;
$content-background-highlight-dark: #008080;

$content-border-radius: 12px;

$font-family-base: 'Libre Franklin';
$font-accent: 'Sans serif';
$font-headline-handwritten: 'Oleo Script';