@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

//-----------------//
// DEPRECATED VARS //
//-----------------//

$alert: rgb(231, 169, 169);
$alert-dark: rgb(204, 118, 118);

$content-border-radius: 12px;

$container-shadow: 2px 2px 2px 0px #ccc;
$inset-box-shadow: inset 0 2px 4px 0 #999;

$navbar-height: 0px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

//-----------------//
// REFACTORED VARS //
//-----------------//

// COLOR PALETTE
// https://refactoringui.com/previews/building-your-color-palette/
// TODO: ONLY use these colors in the app

$primary-1: #f0f5f0;
$primary-2: #e5ece6;
$primary-3: #abbeab;
$primary-4: #8fa892;
$primary-5: #739373;
$primary-6: #5d755c;
$primary-7: #455849;
$primary-8: #2e3a30;
$primary-9: #171d18;

$accent-1: #fff6e5;
$accent-2: #ffdb99;
$accent-3: #ffc966;
$accent-4: #ffb732;
$accent-5: #FFA500;
$accent-6: #cc8400;
$accent-7: #996300;
$accent-8: #664200;
$accent-9: #332100;

$neutral-1: #fefefe;
$neutral-2: #f9f9f9;
$neutral-3: #efefef;
$neutral-4: #e6e6e6;
$neutral-5: #aaa;
$neutral-6: #888;
$neutral-7: #666;
$neutral-8: #444;
$neutral-9: #222;

// FONTS

$font-family-base: 'Libre Franklin';
$font-heading: 'Montserrat';
$font-accent: 'Sans serif';
