@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

//-----------------//
// DEPRECATED VARS //
//-----------------//

$alert: rgb(231, 169, 169);
$alert-dark: rgb(204, 118, 118);

$content-border-radius: 12px;

$container-shadow: 2px 2px 2px 0px #ccc;
$inset-box-shadow: inset 0 2px 4px 0 #999;

$navbar-height: 87.5px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

//-----------------//
// REFACTORED VARS //
//-----------------//

// COLOR PALETTE
// https://refactoringui.com/previews/building-your-color-palette/
// TODO: ONLY use these colors in the app

$primary-1: #f1f3f4;
$primary-2: #c7cfd3;
$primary-3: #abb7be;
$primary-4: #8f9fa8;
$primary-5: #738793;
$primary-6: #5c6c75;
$primary-7: #455158;
$primary-8: #2e363a;
$primary-9: #171b1d;

$accent-1: #fff6e5;
$accent-2: #ffdb99;
$accent-3: #ffc966;
$accent-4: #ffb732;
$accent-5: #FFA500;
$accent-6: #cc8400;
$accent-7: #996300;
$accent-8: #664200;
$accent-9: #332100;

$neutral-1: #fefefe;
$neutral-2: #f9f9f9;
$neutral-3: #efefef;
$neutral-4: #ddd;
$neutral-5: #ccc;
$neutral-6: #999;
$neutral-7: #666;
$neutral-8: #444;
$neutral-9: #222;

// FONTS

$font-family-base: 'Libre Franklin';
$font-heading: 'Montserrat';
$font-accent: 'Sans serif';