.vrs-button {
    background: $primary-5;
    color: $neutral-1;
    border-radius: $content-border-radius;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: $container-shadow;
    text-align:center;
    outline: none;

    &:hover {
        cursor:pointer;
        background: $primary-6;
        color: $neutral-1;
    }
    
    &:active {
        transform: translateY(2px);
        box-shadow: 0px 0px 2px 0px #ccc;
    }

    &.accent {
        background: $accent-5;
        &:hover{
            cursor:pointer;
            background:$accent-5;
        }
    }

    &.primary {
        background: transparent;
        color: rgba($neutral-8, 0.8);
        border-color: $primary-5;

        &:hover {
            background: $primary-6;
            color: $neutral-1;
        }
    }
}

