.vrs-button {
    font-size: 0.9rem;
    background: $neutral-1;
    color: $primary-7;
    border-radius: $content-border-radius;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    text-align:center;

    &.borderless {
        box-shadow: none;
        background: unset;
    }

    &:hover {
        cursor:pointer;
        background: $primary-2;
        color: $primary-7;
    }

    &.accent {
        background: $accent-5;
        color: $accent-1;

        &:hover{
            cursor:pointer;
            background:$accent-6;
        }
    }

    &.primary {
        background: $primary-6;
        color: $primary-1;

        &:hover {
            background: $primary-7;
        }
    }

    &:focus {
        outline: black auto 2px;
    }
}

