@import './vars';

// Card

.card {
    background: $neutral-2;
    border: 1px solid $neutral-3;
    border-radius: $content-border-radius;
}

.card .card-header {
    background: darken($neutral-2, 5);
    color: lighten($neutral-8, 20);
    border-radius: $content-border-radius;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
}

.card .card-body {
    background: $neutral-2;
    color: $neutral-8;
    border-bottom-left-radius: $content-border-radius;
    border-bottom-right-radius: $content-border-radius;
}

// Accordion

accordion .panel-heading.card-header {
    border-radius: $content-border-radius;
}

accordion .card.panel-default {
    background: darken($neutral-2, 5);
    color: $neutral-1;
}

:host ::ng-deep accordion .panel-body.card-block.card-body {
    background: $neutral-2;
    border: 1px solid $neutral-3;
    border-bottom-left-radius: $content-border-radius;
    border-bottom-right-radius: $content-border-radius;
}

accordion .panel-heading {
    cursor: pointer;

    &:hover {
        color: $accent-5;
    }
}

accordion .panel-default .panel-heading {
    border-bottom: none;
}
