@import '~bootstrap/scss/bootstrap-grid';

:host ::ng-deep #carouseldropdown:hover {
    cursor: pointer;
    color: $accent-5;
}

:host ::ng-deep #carouselmenuitem:hover {
    background-color: $accent-5;
}

:host ::ng-deep #multimedia {
    object-fit: cover;
}

:host ::ng-deep #caret-left, #caret-right {
    max-height: 100%;
    font-size: 10px;
    color: $neutral-2;
}

:host ::ng-deep #caret-left:hover {
    cursor: pointer;
    color: $accent-5;
}

:host ::ng-deep #caret-right:hover {
    cursor: pointer;
    color: $accent-5;
}

:host ::ng-deep .card-slide.slide {
    height: 400px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);

    @include media-breakpoint-down(xs) {
        height: 200px;
    }
}

:host ::ng-deep .card-slide .item img {
    max-height: 100%;  
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

:host ::ng-deep .right.carousel-control {
    opacity: 0;
    width: 25%;
    &:hover {
        opacity: 1;
        background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.4));
        transition: opacity 0.5s;
        cursor: pointer;
    }
}

:host ::ng-deep .left.carousel-control {
    opacity: 0;
    width: 25%;
    &:hover {
        opacity: 1;
        background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.4));
        transition: opacity 0.5s;
        cursor: pointer;
    }
}

:host ::ng-deep .carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px 1px black;
    border: none;
    margin: 10px 3px;
}

:host ::ng-deep .carousel-indicators > li:hover {
    cursor: pointer;
}

:host ::ng-deep .carousel-indicators .active {
    background-color: $primary-4;
}

:host ::ng-deep .carousel-control-next-icon {
    background-image: none;
}
:host ::ng-deep .carousel-control-next-icon:before {
    @extend %glyphicon;
    @extend %glyphicon-chevron-right, :before;
    color: rgba(255,255,255,0.5);
}

:host ::ng-deep .carousel-control-prev-icon {
    background-image: none;
}
:host ::ng-deep .carousel-control-prev-icon:before {
    @extend %glyphicon;
    @extend %glyphicon-chevron-left, :before;
    color: rgba(255,255,255,0.5);
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../../../assets/fonts/glyphicons-halflings-regular.eot');
    src: url('../../../assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../../../assets/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../../assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../../assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }
  %glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  %glyphicon-chevron-left:before {
    content: "\e079";
  }
  %glyphicon-chevron-right:before {
    content: "\e080";
  }