@import './vars';

:host ::ng-deep .ngx-datatable {
    border-radius: $content-border-radius;
}

:host ::ng-deep .ngx-datatable .datatable-header {
    background: $desaturated-blue-lighter;
    .datatable-header-cell-label {
        color: $text-light;
    }
    .sort-btn {
        color: $text-light;
    }
}

:host ::ng-deep .ngx-datatable datatable-body.datatable-body {
    background: $desaturated-blue-light;
}