@import './vars';

:host ::ng-deep .ngx-datatable {
    font-size: 1rem;
    background: transparent;

    .datatable-header {
        background: transparent;
        .datatable-header-cell-label {
            color: lighten($neutral-8, 15);
            font-size: 0.8rem;
        }
        .sort-btn {
            color: $neutral-1;
        }
    }

    .datatable-footer {
        background: transparent;
    }

    datatable-body.datatable-body {
        background: transparent;
        .datatable-body-cell-label {
            font-size: 0.8rem;
        }
    }

    .datatable-body-row {
        transform: translateZ(0);
    }

    &.material .datatable-header .datatable-header-cell {
        background-color: unset;
    }
}
