@import './vars';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.datatable-body-cell {
  cursor: pointer;
}

.ngx-datatable.material {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.tab-content {
    background: $background-light;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-right: 1px solid $border-light;
    border-left: 1px solid $border-light;
    border-bottom: 1px solid $border-light;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

ul.nav.nav-tabs {
    padding-left: 1.5em;
    padding-top: 1em;
    background: darken($background-light, 8);
    border: 1px solid $border-light;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav-tabs li.nav-item a.nav-link {
    background: darken($background-light, 8);
    color: lighten($text-dark, 20);
    border-bottom: 1px solid $border-light;
    &:hover {
        color: $primary;
        border-color: lighten($primary, 20);
        border-bottom-color: $background-light;
    }
}

.nav-tabs li.nav-item a.nav-link.active {
    background: $background-light;
    border-bottom-color: $background-light;
    color: $primary;
}

.ngx-datatable.material {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav-tabs > .nav-item .active {
    background-color: $background-darker-accent;
}
