@import './vars';

/* Wordpress styles */

:host ::ng-deep {
    .alignright {
        float:right;
        text-align: center;
        margin-left: 1rem;
    }
    .alignleft {
        margin-right: 1rem;
        float:left;
        text-align: center;
    }
}

:host ::ng-deep {
    figure {
        display: table;
        font-style: italic;
        color: $neutral-6;
        font-size: 0.7em;
        text-indent: 0;
        margin: 0.5em;
        figcaption {
            margin-top: 10px;
            display: table-caption;
            caption-side: bottom;
        }
    }
}