.jumbotron-fluid {
    background: url("../../assets/images/bgs/vieraslajit-home-bg.png") center;
    background-size: 110%;
    background-repeat: no-repeat;
}

.col-4 {
    background: #FFF8C6;
    margin: 20px;
}

