<div class="container p-0 home-content">
    <div class="home-header-img">
        <div class="row"><div class="col-12 col-md-10 col-lg-8 col-xl-8 portal-description-parent">
            <span class="portal-description">
                <span class="portal-heading">Kansallinen vieraslajiportaali<br></span>
                Tämän kansallisen vieraslajiportaalin avulla voit tunnistaa ja ilmoittaa vieraslajeja. Sivuilta löydät tietoa ja kuvia vieraslajeista, karttoja vieraslajien levinneisyydestä sekä torjuntaohjeita</span>
        </div></div>
    </div> <!-- /home-header-img -->
    <div class="first-segment">
<!--         <div class="row" *ngFor="let n of alerts"><div class="container-fluid"><div class="col-12 alert-bar">
            {{n.title}}
        </div></div></div> -->
        <div class="container">
<!--             <div class="row news-items">
                <div class="col-12 col-sm-4 news-item" *ngFor="let n of news; last as l">
                    <span routerLink="/news" class="news-title">{{(n.title.length > 80)? (n.title | slice:0:80)+'..':(n.title)}}</span>
                    <span class='news-date'>{{n.posted | date: 'dd.MM.yyyy HH:MM' }}</span>
                </div>
            </div> -->


            <div class="row invasive-description-row">
                <div class="col-12 col-md-5 col-lg-4">
                    <ul class="quick-links">
                        <li class="quick-links-btn vrs-button" [routerLink]="['/form/JX.123757']">Ilmoita vieraslajihavainto</li>
                        <li class="quick-links-btn vrs-button secondary" [routerLink]="['/form/MHL.9']">Apua lajitunnistukseen</li>
                        <li class="quick-links-btn vrs-button secondary" [routerLink]="['/taxon']">Selaa vieraslajeja</li>
                    </ul>
                </div>
                <div class="col-12 col-md-7 col-lg-8 invasive-description">
                    <h2>Mikä on vieraslaji?</h2>
                    <p>Vieraslajit ovat lajeja, jotka ovat levinneet luontaiselta levinneisyysalueeltaan uudelle alueelle ihmisen mukana joko tahattomasti tai tarkoituksella. Vieraslajit voivat aiheuttaa haittaa ympäristölle ja ekosysteemipalveluille, mutta myös taloudellista haittaa vaikuttamalla esimerkiksi ihmisten, eläinten tai kasvien terveyteen tai kiinteistöjen ar­voon.</p>
                </div>
            </div>
            <hr>
            <div class="row exotic-pets-bg">
                <div class="col-12 col-md-6">
                    <div class="exotic-pet-container">
                        <h2>Varo ulkomaista lemmikkiä ostaessasi</h2>
                        <p>Voit vahingossa tuoda haitallisen vieraslajin ja silleen <span>Lue lisää ...</span></p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <div class="admin-list-container vrs-button secondary" routerLink='../administrativelists/eu'>
                                <img class='eu-list-img' src="../../assets/images/logos/eu-blue-rnd.png">
                                <br>
                                Euroopan unionin haitallisten vieraslajien luettelo
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="admin-list-container vrs-button secondary" routerLink='../administrativelists/fi'>
                                <img class='fi-list-img' src="../../assets/images/logos/finland-b2.png">
                                <br>
                                Kansallinen haitallisten vieraslajien luettelo
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <div class="row">
            <div class="col-auto">
                <div class="exotic-pets"></div>
            </div>
            <div class="col">
                <h1>Mikä on vieraslaji?</h1>
                <p>Vieraslajit ovat lajeja, jotka ovat levinneet luontaiselta levinneisyysalueeltaan uudelle alueelle ihmisen mukana joko tahattomasti tai tarkoituksella. Vieraslajit voivat aiheuttaa haittaa ympäristölle ja ekosysteemipalveluille, mutta myös taloudellista haittaa vaikuttamalla esimerkiksi ihmisten, eläinten tai kasvien terveyteen tai kiinteistöjen ar­voon.</p>
                <hr>
            </div>
        </div> -->
    </div>
</div>

<!-- <div class="jumbotron jumbotron-fluid col-12">
    <div class="container-fluid" id="jumbotron-info">
        <h1 class="display-3 text-white" id="jumbotron-h1">VIERASLAJIT.FI</h1>
    </div>
</div>

<div id="searchbar">
    <div class="offset-col-1 offset-sm-1 offset-md-1 offset-lg-1 offset-xl-2 col-xl-10 col-md-12 col-lg-12 col-12">
        <vrs-omnisearch></vrs-omnisearch>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="offset-xl-1 col-xl-7 col-lg-8 col-md-6 col-12" id="cardcol">
            <div class="container">
                <div class="row" id="welcome">
                    <div class="offset-md-1 offset-lg-2 col-md-10 col-lg-8">
                        <h1 id="welcome-h1" translate>home.h1</h1>
                        <p id="welcome-text" translate>home.description</p>
                    </div>
                </div>

                <div class="row">
                    <div class="offset-md-1 offset-lg-0 col-md-12 col-lg-6 col-12" id="cardcol">
                        <div class="card homecard">
                            <h4 class="card-header homecard-header" translate>home.whatare.h</h4>
                            <div class="card-body">
                                <p translate>home.whatare.p</p>
                                <button type="button" class="btn btn-dark" routerLink='/taxon' role="button" translate>home.findInvasive</button>
                                <button type="button" class="btn btn-dark" routerLink='/form/JX.123757' role="button" translate>home.report</button>
                            </div>
                        </div>
                    </div>

                    <div class="offset-md-1 offset-lg-0 col-md-12 col-lg-6 col-12" id="cardcol">
                        <div class="card homecard">
                            <h4 class="card-header homecard-header" translate>home.invasivespecies</h4>
                            <div class="container">
                                <div class="card-body">
                                    <p translate>home.invasiveinfo</p>
                                    <div class="card-deck">
                                        <div class="card invasivecards" routerLink='/administrativelists/eu'>
                                            <img class="card-img-top img-responsive eucard-img invasivecards-img">
                                            <div class="card-body">
                                                <h5 class="card-text text-center invasivecards-text" translate>home.eulist</h5>
                                            </div>
                                        </div>
                                        <div class="card invasivecards" routerLink='/administrativelists/fi'>
                                            <img class="card-img-top img-responsive ficard-img invasivecards-img">
                                            <div class="card-body">
                                                <h5 class="card-text text-center invasivecards-text" translate>home.finnishlist</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-12 col-lg-12" id= "icons">
                        <div class="card homecard">
                            <div class="card-body">
                                <div class="card-deck">
                                    <div class="card invasivecards" id= "iconcard" routerLink="/static/{{staticPetsID}}">
                                        <div class="card-body">
                                            <h5 class="card-text text-center icons-text" translate>home.pets</h5>
                                            <img class="card-img-bottom invasivecards-img petscard-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-xl-1 offset-lg-0 offset-md-1 col-12 col-md-5 col-lg-4 col-xl-3" id="news">
            <div class="container">
                <h4 id="newsh4" translate>home.news</h4>
                <div class="card-body" id="newsbody">
                    <div *ngFor="let n of alerts" class="py-1">
                        <div class="alert alert-danger" role="alert">
                            <h5>{{n.title}} </h5>
                            <span>{{n.posted | date: 'dd.MM.yyyy HH:MM' }} - </span>
                            <p>
                                <span *ngIf="n.modified">(
                                    <span translate>news.modified</span> - </span>
                                {{n.modified | date: 'dd.MM.yyyy HH:MM'}}
                                <span *ngIf="n.modified">)</span>
                            </p>
                            <button type="button" class="btn btn-outline-dark" routerLink="/news" role="button" translate>home.readMore</button>
                            <br>
                            <br>
                        </div>
                    </div>

                    <div>
                        <div *ngFor="let n of news" class="py-1">
                            <h5>{{n.title}} </h5>
                            <span>{{n.posted | date: 'dd.MM.yyyy HH:MM' }} - {{n.author}} </span>
                            <p>
                                <span *ngIf="n.modified">(
                                    <span translate>news.modified</span> - </span>
                                {{n.modified | date: 'dd.MM.yyyy HH:MM'}}
                                <span *ngIf="n.modified">)</span>
                            </p>
                            <p [innerHTML]="n.content | slice:0:100"></p>
                            <button type="button" class="btn btn-outline-dark" routerLink="/news" role="button" translate>home.readMore</button>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 -->