@import '../../assets/styles/vars';

.jumbotron {
    background: url("../../assets/images/bgs/vieraslajit-home-bg.png") center;
    background-size: 105%;
    background-repeat: no-repeat;
    height: 20rem;
    margin-bottom: 0px;
}

#jumbotron-info {
    margin-top: 4vh;
    margin-left: 2vh;
}

#jumbotron-h1 {
    font-family: $font-montserrat;
    font-weight: 700;
}

#searchbar {
    background: $content-background-highlight-dark;
}

#welcome {
    color: $content-background-highlight-dark;
    font-family: $font-montserrat;
    font-size: 20px;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

#homecard {
    height: 100%;
    background: $content-background-highlight;
    padding-bottom: 20px;
}

#homecard-header {
    background-color: $content-background-highlight-dark;
    font-family: $font-montserrat;
    font-weight: 500;
    color: $content-background;
}

#news {
    background-color: $content-background-highlight;
}

#newsh4 {
    padding-top: 1em;
}

#cardcol {
    margin-bottom: 3vh; 
}

#invasivecards {
    width: 100%;
    height: 90%;
    
    transition: 0.2s;
    border-color: $content-background-highlight-dark;
    cursor: pointer;
}

#invasivecards:hover {
    box-shadow:  0 0 0 3px $primary;
    border-color: $primary;
    #selectGroup-card-text {
        color:  $primary;
    }
}

#invasivecards-text {
    width: 100%;
    color:  $navbar-background;
    font-size: 1.3vh;
}

#invasivecards-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.eucard-img {
    content:url(./../../assets/images/logos/eu-blue-rnd.png);
}

.ficard-img {
    content:url(./../../assets/images/logos/finland-b2.png);
}

@media (max-width: 575.98px) {
    .jumbotron h1{font-size: 20px}
    .jumbotron #jumbotron-button{font-size: 8px}
    .jumbotron {background-size: 160%}
    #welcome-h1 {font-size: 30px}
    #welcome-text {font-size: 18px}
}

@media (max-width: 767.98px) {
    .jumbotron h1{font-size: 35px}
    .jumbotron #jumbotron-button{font-size: 12px}
    .jumbotron {height: 13rem}
}

@media (max-width: 991.98px) {
    #invasivecards-img {width: 6rem;}
}

@media (max-width: 1199.98px) {
    
}