@import '../../assets/styles/vars';

.jumbotron {
    background: url("../../assets/images/bgs/vieraslajit-home-bg.png") center;
    background-size: 105%;
    background-repeat: no-repeat;
    height: 35vh;
    margin-bottom: 0px;
}

@media (max-width: 575.98px) {
    .jumbotron h1{font-size: 20px}
    .jumbotron #jumbotron-button{font-size: 8px}
    .jumbotron {height: 15vh}
    .jumbotron {background-size: 160%}
}

@media (max-width: 767.98px) {
    .jumbotron h1{font-size: 25px}
    .jumbotron #jumbotron-button{font-size: 12px}
    .jumbotron {height: 30vh}
}

@media (max-width: 991.98px) {
    .jumbotron h1{font-size: 35px}
    .jumbotron #jumbotron-button{font-size: 16px}
}

@media (max-width: 1199.98px) {
    .jumbotron h1{font-size: 40px;}
}

.infobox {
    background: $content-background-highlight;
    height: 100%;
    padding: 20px;
}

.whatAre {
    color: $content-background-highlight-dark;
    font-weight: bold;
    line-height: 200%;
    word-spacing: 150%;
}

#searchbar {
    background: $content-background-highlight-dark;
}

#welcome {
    color: $primary;
    font-family: $font-montserrat;
    font-size: 20px;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

#pagemap {
    background: $primary;
    color: $content-background;
    margin-top: 30px;
    position: center;
}

#homecard {
    height: 100%;
    background: $content-background-highlight;
    padding-bottom: 20px;
}

#homecard-header {
    background-color: $content-background-highlight-dark;
    font-family: $font-montserrat;
    font-weight: 500;
    color: $content-background;
}

#cardcol {
    margin-bottom: 3vh; 
}

#jumbotron-info {
    margin-top: 4vh;
    margin-left: 2vh;
}

#jumbotron-h1 {
    font-family: $font-montserrat;
    font-weight: 700;
}

#cardlink1 {
    background-color: $content-background;
    margin: 1vh;
}

#cardlink1-img {
    background-color: $content-background;
    width: 14vh;
    margin: 0 auto;
}

#cardlinks {
    background-color: $content-background;
    margin: 1vh;
}

#cardlinks-img {
    background-color: $content-background;
    width: 10vh;
    margin: 0 auto;
}

.card-deck {
    margin: 0;
}

.card-footer {
    background-color: $content-background;
    font-family: $font-montserrat;
    color: $primary;
    font-weight: 500;
}

#cardlinkcontainer {
    padding-top: 20px;
}