@import '../../../assets/styles/vars';
@import '~bootstrap/scss/bootstrap-grid';

.footer-content {
    font-size: 1rem;
    background: darken($background-light, 0);
    color: rgba($text-dark, 0.8);
    border-top: 6px solid $primary;
    box-shadow: 0px 0px 5px 0px #666;
    a {
        color: rgba($text-dark, 0.5);
        &:hover {
            color: $primary;
        }
    }
}

.sitemap {
    padding-top: 2em;
    padding-bottom: 2em;
    h5 {
        margin-left: -0.5em;
        font-size: 0.75em;
        font-weight: 600;
        text-transform: uppercase;
    }
    ul {
        list-style: none;
        padding: 0;
    }
}

.vrs-logo-img {
    filter: saturate(2) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    opacity: 0.8;
}

.vrs-contact {
    color: $text-dark;
}

.vrs-affiliates {
    background: $background-light;

    @include media-breakpoint-down(xs) {
        padding-left: 2em;
    }
    
    @include media-breakpoint-up(sm) {
        justify-content: center;
    }
}

.luomus-logo {
    content:url(./../../../assets/images/logos/luomus_logo.png);
}

.luke-logo {
    content:url(./../../../assets/images/logos/luke_logo.png);
}

.ely-logo {
    content:url(./../../../assets/images/logos/ELY_logo.jpg);
}

.mmm-logo {
    content:url(./../../../assets/images/logos/mmmlogo_fi.png);
}

.sll-logo {
    content:url(./../../../assets/images/logos/sll_logo.png);
}

.syke-logo {
    content:url(./../../../assets/images/logos/syke_logo.png);
}

.affiliate-img {
    max-height: 75px;
    width: auto;

    padding-right: 1vw;
    padding-left: 1vw;
}
