@import '../../../assets/styles/vars';
@import '~bootstrap/scss/bootstrap-grid';

:host {
    position: relative;
    z-index: 10;
}

footer {
    padding-top: 100px;
    background: $neutral-3;
}

.footer-content {
    font-size: 1rem;
    color: rgba($neutral-1, 0.8);
    border-top: 6px solid $accent-5;
    box-shadow: 0px 0px 10px 0px $neutral-9;
    a {
        color: rgba($neutral-1, 0.7);
        &:hover {
            color: $accent-5;
        }
    }
}

.sitemap {
    padding-top: 2em;
    padding-bottom: 2em;
    h5 {
        color: rgba($neutral-1, 0.8);
        margin-left: -0.5em;
        font-size: 0.75em;
        font-weight: 600;
        text-transform: uppercase;
    }
    ul {
        list-style: none;
        padding: 0;
    }
}

.vrs-logo-img {
    filter: saturate(2) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    opacity: 0.8;
}

.vrs-contact {
    color: rgba($neutral-1, 0.8);
}

.footer-divider {
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    border-top: 1px solid #ddd;
    padding-bottom:2em;
}

.vrs-affiliates {
    ul {
        text-align: center;
        margin: 0;
    }

    @include media-breakpoint-down(xs) {
        padding-left: 2em;
    }

    @include media-breakpoint-up(sm) {
        justify-content: center;
    }
}

.affiliate-img {
    max-height: 75px;
    width: auto;

    padding-right: 1vw;
    padding-left: 1vw;
}

.mmm-img {
    max-height: 120px;
    height: 120px;
}

footer {

}

.links {
    text-align:right;
    color: $neutral-6;
    a {
        color: $neutral-6;
        font-size: 0.8em;
        &:hover {
            color: $neutral-9;
        }
    }
}

.hero-credit {
    font-size: 0.7rem;
    color: $neutral-5;
    padding: 2px;
    padding-bottom: 10px;
    text-align: center;
    a {
        color: $neutral-5;
        font-weight: 600;
    }
}