@import '../../../assets/styles/vars';
@import '~bootstrap/scss/bootstrap-grid';

:host {
    position: relative;
    z-index: 10;
}

footer {
    padding-top: 20px;
}

.sitemap {
    border-top: 1px solid $neutral-5;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    h6 {
        font-size: .9rem;
        font-weight: 600;
    }
    p {
        font-size: .9rem;
    }
    li {
        font-size: .9rem;
    }
}

.vrs-logo-img {
    filter: saturate(2) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    opacity: 0.8;
}

.vrs-contact {
    color: rgba($neutral-1, 0.8);
}

.footer-divider {
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    border-top: 1px solid #ddd;
    padding-bottom:2em;
}

.vrs-affiliates {
    ul {
        text-align: center;
        margin: 0;
    }

    @include media-breakpoint-down(xs) {
        padding-left: 2em;
    }

    @include media-breakpoint-up(sm) {
        justify-content: center;
    }
}

.affiliate-img {
    max-height: 75px;
    width: auto;

    padding-right: 1vw;
    padding-left: 1vw;
}

.mmm-img {
    max-height: 120px;
    height: 120px;
}

footer {

}

.links {
    text-align:right;
    color: $neutral-7;
    a {
        color: $neutral-7;
        font-size: 0.9rem;
        &:hover {
            color: $neutral-9;
        }
    }
}

.hero-credit {
    font-size: 0.8rem;
    color: $neutral-7;
    padding: 2px;
    padding-bottom: 10px;
    text-align: center;
    a {
        color: $neutral-6;
        &:hover {
            color: $neutral-9;
        }
    }
}
