<!-- <footer class="container-fluid footer-content">
  <ul class="list-inline">
      <li class="list-inline-item"><a href="https://laji.fi/" translate>footer.laji</a></li>
      <li class="list-inline-item"><a href="https://www.facebook.com/vieraslajit/" translate>footer.facebook</a></li>
    </ul>
</footer> -->
<footer>
  <div class="container">
    <ul class="list-inline links">
      <li class="list-inline-item"><a href="https://www.facebook.com/vieraslajit/" translate>footer.facebook</a></li>
      <li class="list-inline-item">|</li>
      <li class="list-inline-item"><a href="https://www.luomus.fi/fi/tietosuojaseloste" translate>footer.privacy</a></li>
      <li class="list-inline-item">|</li>
      <li class="list-inline-item"><a href="mailto:helpdesk@laji.fi?subject=Vieraslajit.fi" translate>footer.feedback</a></li>
    </ul>
  </div>
  <div class="container vrs-container">
    <div class="sll-desc">
        <a href="https://www.sll.fi/" target="_blank"><img src="./../../../assets/images/logos/sll_logo_full.png" alt="Suomen luonnonsuojeluliitto"></a>
        <a href="https://www.sll.fi/viekas-life" target="_blank"><img id="viekas-logo" src="./../../../assets/images/logos/VieKas-logo-RGB-cutout.png" alt="Viekas LIFE"></a>
        <div class="desc">Tätä hanketta koordinoi Suomen luonnonsuojeluliitto</div>
    </div>
  </div>
  <div class="vrs-affiliates">
    <!-- Affiliates -->
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="http://luomus.fi" target="_blank">
          <img class="affiliate-img" [ngStyle]="{'max-height': '60px'}" alt="LUOMUS - Luonnontieteellinen keskusmuseo"
              src="./../../../assets/images/logos/luomus_logo.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="http://www.luke.fi/" target="_blank">
          <img class="affiliate-img" alt="LUKE - Luonnonvarakeskus"
              src="./../../../assets/images/logos/luke_logo.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="http://www.luontoliitto.fi/" target="_blank">
          <img class="affiliate-img" alt="Luontoliitto"
              src="./../../../assets/images/logos/luonto_liitto.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.jyvaskyla.fi/" target="_blank">
          <img class="affiliate-img" alt="Jyväskylä"
              src="./../../../assets/images/logos/jyvaskyla_logo.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.riihimaki.fi/" target="_blank">
          <img class="affiliate-img" alt="Riihimäki"
              src="./../../../assets/images/logos/riihimaki-logo.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.martat.fi/" target="_blank">
          <img class="affiliate-img" alt="Martat"
              src="./../../../assets/images/logos/martat_logo.png">
        </a>
      </li>
    </ul>
  </div>
  <div class="container pt-3"><hr></div>
  <div class="container vrs-container">
    <div>
      <a target="_blank" href="http://vieraslajit.fi"><div class="vrs-portal">
          <img class="vrs-logo" src="./assets/images/logos/vieraslaji-logo-160x160_cleaned.png">
          <span class="vrs-title">Vieraslajit.fi</span>
      </div></a>
      <p class="vrs-description">Tätä portaalia kehitetään Suomen Lajitietokeskuksessa korvaamaan nykyinen <a target="_blank" href="http://vieraslajit.fi">vieraslajit.fi</a> -palvelu</p>
    </div>
    <a target="_blank" href="https://laji.fi">
      <img class="laji-logo" src="./assets/images/logos/LAJI_FI_sin.png">
    </a>
  </div>
<!--   <div class="vrs-affiliates">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="http://luomus.fi" target="_blank">
          <img class="affiliate-img" [ngStyle]="{'max-height': '60px'}" alt="LUOMUS - Luonnontieteellinen keskusmuseo"
              src="./../../../assets/images/logos/luomus_logo.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="http://www.luke.fi/" target="_blank">
          <img class="affiliate-img" alt="LUKE - Luonnonvarakeskus"
              src="./../../../assets/images/logos/luke_logo.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.ely-keskus.fi/" target="_blank">
          <img class="affiliate-img" alt="ELY - Elinkeino-, liikenne- ja ympäristökeskus"
              src="./../../../assets/images/logos/ELY_logo2.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="http://mmm.fi/etusivu/" target="_blank">
          <img class="affiliate-img mmm-img" alt="MMM - Maa- ja Metsätalousministeriö"
              src="./../../../assets/images/logos/MMM_logo_vaaka_2r_FIN_RGB.svg">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="http://www.syke.fi/fi-FI/" target="_blank">
          <img class="affiliate-img" alt="SYKE - Suomen ympäristökeskus"
              src="./../../../assets/images/logos/syke_logo.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.sll.fi/" target="_blank">
          <img class="affiliate-img" alt="SLL - Suomen luonnonsuojeluliitto"
              src="./../../../assets/images/logos/sll_logo.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="http://www.luontoliitto.fi/" target="_blank">
          <img class="affiliate-img" alt="Luontoliitto"
              src="./../../../assets/images/logos/luonto_liitto.png">
        </a>
      </li>
    </ul>
  </div> -->
  <div class="container hero-credit">Otsikkokuva: <a href="https://www.geograph.org.uk/more.php?id=4030573">M. J. Richardson</a>, <a href="https://creativecommons.org/licenses/by-sa/2.0/">Creative Commons BY SA 2.0 </a></div>
</footer>
