<footer>
  <div class="container">
    <ul class="list-inline links">
      <li class="list-inline-item"><a [routerLink]="['info', 'i-3998']" translate>footer.accessibility</a></li>
      <li class="list-inline-item">|</li>
<!--  TODO kun saavutettavuusseloste saatavilla
      <li class="list-inline-item"><a [routerLink]="" translate>Saavutettavuusseloste</a></li>
      <li class="list-inline-item">|</li>
 -->
      <li class="list-inline-item"><a href="https://laji.fi/about/713" target="_blank" translate>footer.privacy</a></li>
    </ul>
    <div class="row mb-4 sitemap">
      <div class="col-12 col-sm-4 mb-4">
        <h6>{{'footer.sitemap.1' | translate}}</h6>
        <ul>
          <li><a [routerLink]="['info', findContentId(StaticContent.SiteInfo)]">{{'footer.sitemap.1.1' | translate}}</a></li>
          <li><a [routerLink]="['info', findContentId(StaticContent.Info)]">{{'footer.sitemap.1.2' | translate}}</a></li>
          <li><a [routerLink]="['info', findContentId(StaticContent.ImageRights)]">{{'footer.sitemap.1.3' | translate}}</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-4 mb-4">
        <h6>{{'footer.sitemap.2' | translate}}</h6>
        <ul>
          <li><a href="https://www.ely-keskus.fi/ymparistoasiakaspalvelu" target="_blank">{{'footer.sitemap.2.1' | translate}}</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-4 mb-4">
        <h6>{{'footer.sitemap.3' | translate}}</h6>
        <ul>
          <li><a [routerLink]="['info', findContentId(StaticContent.Contact)]">{{'footer.sitemap.3.1' | translate}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="vrs-affiliates">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="http://mmm.fi/etusivu/" target="_blank">
          <img class="affiliate-img mmm-img" alt="MMM - Maa- ja Metsätalousministeriö"
              src="./../../../assets/images/logos/MMM_logo_vaaka_2r_FIN_RGB.svg">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="http://www.luke.fi/" target="_blank">
          <img class="affiliate-img" alt="LUKE - Luonnonvarakeskus"
              src="./../../../assets/images/logos/luke_logo.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="http://luomus.fi" target="_blank">
          <img class="affiliate-img luomus" alt="LUOMUS - Luonnontieteellinen keskusmuseo"
              src="./../../../assets/images/logos/luomus_logo.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://laji.fi/" target="_blank">
          <img class="affiliate-img laji" alt="LAJI.fi - Suomen Lajitietokeskus"
              src="./../../../assets/images/logos/LAJI_FI_sin.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://cinea.ec.europa.eu/life_fi" target="_blank">
          <img class="affiliate-img" alt="LIFE"
              src="./../../../assets/images/logos/life.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.sll.fi/" target="_blank">
          <img class="affiliate-img" alt="SLL - Suomen luonnonsuojeluliitto"
              src="./../../../assets/images/logos/sll_logo.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.csc.fi/" target="_blank" rel="noopener nofollow">
          <img class="affiliate-img"
              src="https://cdn.laji.fi/images/logos/csc-logo-teksti-fi.png" alt="CSC">
        </a>
      </li>
<!--       <li class="list-inline-item">
        <a href="https://www.ely-keskus.fi/" target="_blank">
          <img class="affiliate-img" alt="ELY - Elinkeino-, liikenne- ja ympäristökeskus"
              src="./../../../assets/images/logos/ELY_logo2.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="http://www.syke.fi/fi-FI/" target="_blank">
          <img class="affiliate-img" alt="SYKE - Suomen ympäristökeskus"
              src="./../../../assets/images/logos/syke_logo.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.sll.fi/" target="_blank">
          <img class="affiliate-img" alt="SLL - Suomen luonnonsuojeluliitto"
              src="./../../../assets/images/logos/sll_logo.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="http://www.ruokavirasto.fi/" target="_blank">
          <img class="affiliate-img" alt="Ruokavirasto"
              src="./../../../assets/images/logos/ruokavirasto-logo.png">
        </a>
      </li> -->
    </ul>
  </div>
  <div *ngIf="onHomePage$ | async" class="container hero-credit">{{'footer.headerCredit' | translate}}: Kimmo Rampanen, Juha Ahvenainen, Jari Niskanen - Vastavalo</div>
</footer>
