@import '../../../assets/styles/vars';

.footer-content {
    background: $footer-background;
    color: #333;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.vrs-affiliates {
    /* Background gradient */
    background: $background-light; /* Old browsers */
    background: -moz-linear-gradient(bottom, $background-light 50%, #e8e8e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom, $background-light 50%,#e8e8e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, $background-light 50%,#e8e8e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.luomus-logo {
    content:url(./../../../assets/images/logos/luomus_logo.png);
}

.luke-logo {
    content:url(./../../../assets/images/logos/luke_logo.png);
}

.ely-logo {
    content:url(./../../../assets/images/logos/ELY_logo.jpg);
}

.mmm-logo {
    content:url(./../../../assets/images/logos/mmmlogo_fi.png);
}

.sll-logo {
    content:url(./../../../assets/images/logos/sll_logo.png);
}

.syke-logo {
    content:url(./../../../assets/images/logos/syke_logo.png);
}

.affiliate-img {
    max-height: 75px;
    width: auto;

    padding-right: 1vw;
    padding-left: 1vw;
}
